.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-trible {
	font-size:(91.33/10)*1rem;
	width:(119.33/91.33)*1em;
}
.icon-call {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-chevron-down {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-clipboard-list {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-fb {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-google-plus {
	font-size:(100.11/10)*1rem;
	width:(100.11/100.11)*1em;
}
.icon-inst {
	font-size:(135.25/10)*1rem;
	width:(135.25/135.25)*1em;
}
.icon-logo {
	font-size:(97.06/10)*1rem;
	width:(175.14/97.06)*1em;
}
.icon-map-marker {
	font-size:(285.63/10)*1rem;
	width:(190.98/285.63)*1em;
}
.icon-med {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-metro {
	font-size:(404.58/10)*1rem;
	width:(500/404.58)*1em;
}
.icon-phone {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-reset {
	font-size:(204.59/10)*1rem;
	width:(205/204.59)*1em;
}
.icon-sale {
	font-size:(85.17/10)*1rem;
	width:(64.02/85.17)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-shop {
	font-size:(48.07/10)*1rem;
	width:(51.48/48.07)*1em;
}
.icon-star {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-study {
	font-size:(44.49/10)*1rem;
	width:(63.1/44.49)*1em;
}
.icon-vk {
	font-size:(76.8/10)*1rem;
	width:(76.8/76.8)*1em;
}
