.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-like {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
.icon-search {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
