.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-basket {
	font-size:(462.67/10)*1rem;
	width:(500/462.67)*1em;
}
.icon-clock {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-envelope {
	font-size:(380.51/10)*1rem;
	width:(500/380.51)*1em;
}
.icon-hand {
	font-size:(500/10)*1rem;
	width:(372.89/500)*1em;
}
.icon-i-call {
	font-size:(500/10)*1rem;
	width:(499.28/500)*1em;
}
.icon-i-compare {
	font-size:(439.06/10)*1rem;
	width:(500/439.06)*1em;
}
.icon-i-map {
	font-size:(255.8/10)*1rem;
	width:(180/255.8)*1em;
}
.icon-map-loc {
	font-size:(481.77/10)*1rem;
	width:(500/481.77)*1em;
}
.icon-mnu {
	font-size:(364.29/10)*1rem;
	width:(500/364.29)*1em;
}
.icon-prod-i-1 {
	font-size:(500/10)*1rem;
	width:(410.72/500)*1em;
}
.icon-prod-i-2 {
	font-size:(482.03/10)*1rem;
	width:(500/482.03)*1em;
}
.icon-prod-i-3 {
	font-size:(475.24/10)*1rem;
	width:(500/475.24)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(482.72/500)*1em;
}
.icon-soc-1 {
	font-size:(500/10)*1rem;
	width:(468.75/500)*1em;
}
.icon-soc-2 {
	font-size:(499.92/10)*1rem;
	width:(500/499.92)*1em;
}
.icon-soc-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-soc-4 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-soc-5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-user {
	font-size:(483.5/10)*1rem;
	width:(378/483.5)*1em;
}
