.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Yandexd {
	font-size:(220.65/10)*1rem;
	width:(500/220.65)*1em;
}
.icon-arr-r {
	font-size:(415.29/10)*1rem;
	width:(500/415.29)*1em;
}
.icon-arrow {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-basket {
	font-size:(462.67/10)*1rem;
	width:(500/462.67)*1em;
}
.icon-card {
	font-size:(408.2/10)*1rem;
	width:(500/408.2)*1em;
}
.icon-clock {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-close {
	font-size:(496.53/10)*1rem;
	width:(500/496.53)*1em;
}
.icon-envelope {
	font-size:(380.51/10)*1rem;
	width:(500/380.51)*1em;
}
.icon-facebook-f {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-google-plus-g {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
.icon-hand {
	font-size:(500/10)*1rem;
	width:(372.89/500)*1em;
}
.icon-i-call {
	font-size:(500/10)*1rem;
	width:(499.28/500)*1em;
}
.icon-i-compare {
	font-size:(439.06/10)*1rem;
	width:(500/439.06)*1em;
}
.icon-i-map {
	font-size:(255.8/10)*1rem;
	width:(180/255.8)*1em;
}
.icon-lk-1 {
	font-size:(487.7/10)*1rem;
	width:(443.1/487.7)*1em;
}
.icon-lk-2 {
	font-size:(487.6/10)*1rem;
	width:(487.6/487.6)*1em;
}
.icon-lk-3 {
	font-size:(483.5/10)*1rem;
	width:(378/483.5)*1em;
}
.icon-lk-4 {
	font-size:(445.8/10)*1rem;
	width:(486.03/445.8)*1em;
}
.icon-lk-5 {
	font-size:(457.21/10)*1rem;
	width:(500/457.21)*1em;
}
.icon-lk-6 {
	font-size:(489.6/10)*1rem;
	width:(490.2/489.6)*1em;
}
.icon-lk-8 {
	font-size:(97.66/10)*1rem;
	width:(97.67/97.66)*1em;
}
.icon-lk-9 {
	font-size:(218/10)*1rem;
	width:(195.8/218)*1em;
}
.icon-map-loc {
	font-size:(481.77/10)*1rem;
	width:(500/481.77)*1em;
}
.icon-mnu {
	font-size:(364.29/10)*1rem;
	width:(500/364.29)*1em;
}
.icon-prod-i-1 {
	font-size:(500/10)*1rem;
	width:(410.72/500)*1em;
}
.icon-prod-i-2 {
	font-size:(482.03/10)*1rem;
	width:(500/482.03)*1em;
}
.icon-prod-i-3 {
	font-size:(475.24/10)*1rem;
	width:(500/475.24)*1em;
}
.icon-reg-1 {
	font-size:(490.3/10)*1rem;
	width:(486.6/490.3)*1em;
}
.icon-reg-2 {
	font-size:(445.8/10)*1rem;
	width:(486.03/445.8)*1em;
}
.icon-reg-3 {
	font-size:(468.13/10)*1rem;
	width:(500/468.13)*1em;
}
.icon-rocket-ship {
	font-size:(396.82/10)*1rem;
	width:(395.41/396.82)*1em;
}
.icon-sber {
	font-size:(477.33/10)*1rem;
	width:(497.16/477.33)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(482.72/500)*1em;
}
.icon-soc-1 {
	font-size:(500/10)*1rem;
	width:(468.75/500)*1em;
}
.icon-soc-2 {
	font-size:(499.92/10)*1rem;
	width:(500/499.92)*1em;
}
.icon-soc-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-soc-4 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-soc-5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-terminal {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-twitter {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-user {
	font-size:(483.5/10)*1rem;
	width:(378/483.5)*1em;
}
