 .callback_link,
  .question_link{
	float: none;
	max-width: 100%;
		// height: 17px;
		 
		margin-bottom: 10px;
		padding: 0;
	a{
		text-transform: uppercase;
		// text-align: center;
		display: inline-block;
		background-position: center center;
		font-size: 10px;
		// text-align: center;
		padding: 0;
		// padding: 3px 0;
	 
	}
}
.header .callback_link,
.header .question_link{
	 
		@media only screen and (min-width: 1025px){
			width: 100%;
		}
	 
	a{
	 
		@media only screen and (min-width: 1025px){
		width: 100%;
		display: block;

		}
	}
}

.docto_home{
	margin-left: 0;
	font-size: 10px;
	background-size: 19px;
	background-image: url(../img/car.jpg);
	text-decoration: underline;
	padding-left: 25px;
	padding-right: 0;
	background-position:  left 4px;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.header_center{
	@media only screen and (min-width: 1025px){
	max-width: 170px;

	}
	padding-left: 0;
	margin-left: 0;
	margin-top: 10px;
	.social_icons{
		margin-left: 0;
	}
}
.header_right{
	// width: 206px;
	width: auto;
	// margin-right: 15px;
	margin-left: 15px;
	.ya-phone{
		font-size: 25px;color: #1fb9e9; font-family: 'Idealist Sans Light';

	}
}
.logo_name{
	font-size: 15px;
}
.logo_description{
	font-size: 8px;
}
.logo_text{
	width: 265px;
}
.logo{
	width: 372px;
	margin-right: 15px;
}

@media only screen and (max-width: 1024px){
	.logo{
		// float: left;
	}
	.header_right{
		padding-top: 0px;
		margin-top: 10px;
		margin-right: 15px;
		margin-bottom: 30px;
		// float: left;
		float: right;
		// float: left;
	}
	.header_center{
		width: auto;
		 
	}
	.logo{
		width: auto;
	}
}


@media only screen and (max-width: 839px){
	.header_center{
		width: auto;
		margin-top: 50px;
	}
}
@media only screen and (max-width: 700px){
	.header_center{
		text-align: center;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 0;
	}
	.header_right{
		text-align: center;
		float: none;
		margin-bottom: 4px;
	}
}

.contacts_topbar{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap: wrap;
margin-left: -20px;
margin-right: -20px;
align-self: stretch;
flex-wrap: wrap;
}
.contacts_block{
	display: block;
	max-width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	height: 100%;
}
.contacts_topbar_block{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}
.contacts_shadow{
	left: -5px;
}

.contacts_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-self: stretch;
	// align-items: stretch;
	.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex; 
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
		height: 100%;
	}
	.col{
		height: 100%;
		// max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		a span{
			font-size: 25px !important;
		}
	}
	h3{
		color: #1d8aac;
		// font-family: "Idealist Sans";
		font-size: 22px;
		font-weight: 400;
	}
	p{
		font-size: 13px;
	}
}
.contacts_block-3{
	max-width: 33%;
	flex-grow: 1;
	.contacts_bottombar_block{
		box-sizing: border-box;
		margin-top: 0;
		padding-left: 20px;
		padding-right: 20px;
		float: none;
		width: 100%;
		display: block;
		max-width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
.text-p{
	padding-left: 15px;
	padding-right: 15px;
}
@media only screen and (max-width: 1024px){
	.contacts_content{
		// display: block;
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
	}

	.contacts_topbar{
		// margin-top: 0;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 700px){
	.contacts_block{
		max-width: 100%;
		width: 100%;
	}
	.contacts_block .row-text{
		justify-content: flex-start;
	}
}


.footer{
	background-color: #72868c;
	position: relative;
	overflow: hidden;
	color: #FFF;
	box-sizing: border-box;
	*{
		box-sizing: border-box;
	}
	.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
	.col-md-4{
		width: 25%;

	}
.footer{
	&__title{
		color: #ffffff; 
		font-size: 17px;
		font-weight: 400;
		line-height: 25.91px;
		/* Text style for "ул. , У, т" */
		letter-spacing: -0.69px;
		padding-bottom: 10px;
	}
	&__tel{
		color: #fff;
		font-family: "Idealist Sans Light";
		font-size: 21px;
		font-weight: 400;
		line-height: 44.61px;
		/* Text style for "+7 (812) 3" */
		letter-spacing: -0.52px;
		line-height: 1;
		display: inline-block;
		margin-bottom: 5px;
	}
	&__soc-link{
		display: inline-block;
		float: none;
		margin-left: 5px;
		margin-right: 5px;
	}
	&__soc{
		margin-bottom: 20px;
	}
	&__map{
		position: relative;
		text-decoration: underline;
		display: inline-block;
		margin-bottom: 20px;
		&::before{
			content: url(../img/map-site.png);
			margin-right: 10px;
		}
	}
		&__copy{
			color: #2f3132;
			text-decoration: underline;
		}
}
.google_link{
	background-image: url(../img/soc-1.png);
}
.vk_link{
	background-image: url(../img/soc-2.png);
}
.fb_link{
	background-image: url(../img/soc-3.png);
}
.insta_link{
	background-image: url(../img/soc-4.png);
}
p{
	color: #d8e3e4; 
	font-size: 13px;
	font-weight: 300;
	line-height: 14.47px;
	}
.red-text{
	color: #ff7a7a;
}
@media only screen and (max-width: 1024px){
	padding-top: 40px;
	text-align: left;
	.container{
		padding-left: 30px;
		padding-right: 15px;
		text-align: left;
	}
}
@media only screen and (max-width: 768px){
	.col-md-4{
		width: 50%;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 410px){
	.col-md-4{
		width: 100%;
		text-align: center;
		// margin-bottom: 15px;
	}
}
}