/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide:focus, .slick-slide {
  outline: none;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.main-banner {
  margin-bottom: 45px; }
  .main-banner * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .main-banner .slick-arrow {
    position: absolute;
    top: 50%;
    height: 110px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
    text-indent: -999px;
    width: 50px;
    margin-top: -55px;
    z-index: 50; }
    .main-banner .slick-arrow:hover {
      background: rgba(5, 152, 86, 0.8); }
    .main-banner .slick-arrow:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 25px;
      margin: -12.5px 0 0 -8px;
      background: url(../img/icon-arrow-right.png) 0 0 no-repeat; }
    .main-banner .slick-arrow.slick-next {
      right: 0; }
    .main-banner .slick-arrow.slick-prev {
      left: 0; }
      .main-banner .slick-arrow.slick-prev:after {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg); }
    @media only screen and (max-width: 767px) {
      .main-banner .slick-arrow {
        height: 50px;
        margin-top: -25px; } }
  .main-banner .item {
    position: relative;
    height: 420px;
    background-color: #FFF;
    background-position: center center;
    background-repeat: no-repeat;
    -o-background-size: cover;
       background-size: cover; }
    @media only screen and (max-width: 767px) {
      .main-banner .item {
        height: 250px; } }
    .main-banner .item .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #FFF;
      padding: 20px 15px;
      background: rgba(0, 0, 0, 0.8);
      font-size: 14px;
      line-height: 20px; }
      .main-banner .item .desc .inner {
        max-width: 835px;
        margin: 0 auto;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        display: table;
        width: 100%;
        table-layout: fixed; }
        .main-banner .item .desc .inner .right,
        .main-banner .item .desc .inner .left {
          display: table-cell;
          vertical-align: middle; }
        .main-banner .item .desc .inner .right {
          width: 136px;
          vertical-align: middle;
          text-align: right; }
          @media only screen and (max-width: 767px) {
            .main-banner .item .desc .inner .right {
              width: 90px; } }
        .main-banner .item .desc .inner .btn {
          font-size: 14px;
          line-height: 18px;
          padding: 11px 15px; }
          @media only screen and (max-width: 767px) {
            .main-banner .item .desc .inner .btn {
              padding: 5px 10px;
              text-transform: none;
              font-size: 12px;
              line-height: 16px; } }
  @media only screen and (max-width: 767px) {
    .main-banner {
      margin-bottom: 25px; }
      .main-banner .item .desc {
        padding: 10px 7px; }
        .main-banner .item .desc .inner {
          font-size: 12px;
          line-height: 15px;
          text-align: left;
          text-transform: none; } }

.company-figures {
  margin-top: 45px; }
  .company-figures * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .company-figures .title {
    text-align: center;
    font-size: 28px;
    line-height: 31px;
    margin: 0 0 30px; }
  .company-figures .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -15px;
    overflow: hidden; }
    .company-figures .list .item {
      width: 20%;
      float: left;
      padding: 0 15px; }
      .company-figures .list .item .green {
        display: inline-block; }
    .company-figures .list .block {
      border-top: 6px solid #059856;
      background: #F7F7F7;
      padding: 10px 10px 30px;
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      height: 100%; }
      .company-figures .list .block .num {
        font-size: 50px;
        line-height: 53px;
        color: #059856; }
      .company-figures .list .block .icon {
        height: 135px;
        margin-bottom: 10px;
        line-height: 135px; }
        .company-figures .list .block .icon img {
          display: inline;
          vertical-align: middle; }
  @media only screen and (max-width: 991px) {
    .company-figures {
      margin: 20px 0; }
      .company-figures .list {
        margin: 0 -10px; }
        .company-figures .list .item {
          padding: 0 10px;
          width: 33.333333%;
          margin-bottom: 20px; } }
  @media only screen and (max-width: 767px) {
    .company-figures .list .item {
      width: 50%; } }
  @media only screen and (max-width: 480px) {
    .company-figures .list {
      margin: 0 -5px; }
      .company-figures .list .item {
        padding: 0 5px; } }

.video-container {
  margin: 40px 0;
  padding: 50px 0 55px;
  background: #F7F7F7; }
  .video-container * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .video-container .title {
    font-size: 28px;
    line-height: 31px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 40px; }
    .video-container .title .green {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      font-size: 11px;
      line-height: 14px;
      padding: 7px 10px;
      background: #059856;
      color: #FFF;
      font-weight: normal;
      margin-left: 30px; }
      .video-container .title .green:hover {
        text-decoration: underline; }
  .video-container .video-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    overflow: hidden; }
    .video-container .video-list .left {
      width: 65%;
      float: left; }
    .video-container .video-list .right {
      width: 35%;
      float: left;
      padding-left: 30px; }
  .video-container .video-block {
    position: relative; }
    .video-container .video-block + .video-block {
      margin-top: 22px; }
      @media only screen and (max-width: 991px) {
        .video-container .video-block + .video-block {
          margin-top: 4%; } }
    @media only screen and (min-width: 768px) {
      .video-container .video-block.video-big .video {
        margin-bottom: 15px; }
        .video-container .video-block.video-big .video:after {
          width: 120px;
          height: 120px;
          margin: -60px 0 0 -60px;
          background: url(../img/icon-play.png) 0 0 no-repeat; }
      .video-container .video-block.video-big .title {
        font-size: 20px;
        line-height: 23px;
        height: 46px; } }
    .video-container .video-block .video {
      position: relative;
      margin-bottom: 10px; }
      .video-container .video-block .video:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3); }
      .video-container .video-block .video:after {
        content: '';
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        background: url(../img/icon-play-small.png) 0 0 no-repeat; }
      .video-container .video-block .video img {
        width: 100%;
        display: block; }
    .video-container .video-block .title {
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      margin: 0;
      height: 38px;
      overflow: hidden;
      margin: 0;
      text-transform: none; }
    .video-container .video-block .video-lnk {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .video-container .video-block:hover .title {
      color: #059856; }
  @media only screen and (max-width: 767px) {
    .video-container {
      margin: 20px 0;
      padding: 20px 0 10px; }
      .video-container .title {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 20px; }
        .video-container .title .green {
          margin-left: 10px; }
      .video-container .video-list {
        display: block; }
        .video-container .video-list .left {
          width: auto;
          float: none; }
        .video-container .video-list .right {
          float: none;
          width: auto;
          padding: 0;
          display: none; }
        .video-container .video-list .video-block {
          margin-top: 15px; } }
  @media only screen and (min-width: 481px) {
    .video-container .lnk-more {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .video-container .video-list .right {
      display: none; }
    .video-container .lnk-more {
      padding-top: 25px;
      text-align: center; }
      .video-container .lnk-more a {
        text-decoration: none;
        border-bottom: 1px dotted; } }

.press-center {
  margin: 40px 0; }
  .press-center * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .press-center .title {
    font-size: 28px;
    line-height: 31px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 40px; }
    .press-center .title .green {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      font-size: 11px;
      line-height: 14px;
      padding: 7px 10px;
      background: #059856;
      color: #FFF;
      font-weight: normal;
      margin-left: 30px; }
      .press-center .title .green:hover {
        text-decoration: underline; }
  .press-center .list {
    margin: 0 -15px; }
    @media only screen and (max-width: 991px) {
      .press-center .list {
        margin: 0 -10px; } }
    .press-center .list .item {
      float: left;
      padding: 0 15px;
      margin-bottom: 40px;
      width: 33.333333%; }
      @media only screen and (max-width: 991px) {
        .press-center .list .item {
          padding: 0 10px; } }
      .press-center .list .item .block {
        position: relative; }
        .press-center .list .item .block .pict {
          position: relative;
          margin-bottom: 15px; }
          .press-center .list .item .block .pict .date {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(5, 152, 86, 0.8);
            color: #FFF;
            font-size: 14px;
            line-height: 17px;
            font-weight: bold;
            padding: 9px 12px; }
          .press-center .list .item .block .pict img {
            display: block;
            width: 100%; }
        .press-center .list .item .block .ttl {
          font-size: 16px;
          line-height: 19px;
          font-weight: bold;
          margin-bottom: 15px;
          height: 38px;
          overflow: hidden; }
        .press-center .list .item .block .lnk {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .press-center .list .item .block:hover .ttl {
          color: #059856; }
  @media only screen and (max-width: 767px) {
    .press-center {
      margin: 20px 0; }
      .press-center .title {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 20px; }
      .press-center .list {
        margin: 0; }
        .press-center .list .item {
          padding: 0;
          width: auto;
          float: none;
          margin-bottom: 20px; } }
  @media only screen and (max-width: 539px) {
    .press-center .list .item .block .ttl {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #FFF;
      margin: 0;
      background: rgba(0, 0, 0, 0.8);
      padding: 7px 10px;
      height: auto; }
    .press-center .list .item .block .txt {
      display: none; } }
