@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('AvenirNextCyr-Medium.eot');
  src: url('AvenirNextCyr-Medium.woff') format('woff'),
       url('AvenirNextCyr-Medium.ttf') format('truetype'),
       url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

