.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-left {
	font-size:(24/10)*1rem;
	width:(13/24)*1em;
}
.icon-arr-right {
	font-size:(24/10)*1rem;
	width:(13/24)*1em;
}
.icon-calculator {
	font-size:(18/10)*1rem;
	width:(14/18)*1em;
}
.icon-check {
	font-size:(13/10)*1rem;
	width:(17/13)*1em;
}
.icon-maps {
	font-size:(14/10)*1rem;
	width:(11/14)*1em;
}
.icon-servises-1 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-servises-10 {
	font-size:(51/10)*1rem;
	width:(56/51)*1em;
}
.icon-servises-2 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-servises-3 {
	font-size:(47/10)*1rem;
	width:(47/47)*1em;
}
.icon-servises-4 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-servises-5 {
	font-size:(46/10)*1rem;
	width:(24/46)*1em;
}
.icon-servises-6 {
	font-size:(42/10)*1rem;
	width:(46/42)*1em;
}
.icon-servises-7 {
	font-size:(30/10)*1rem;
	width:(51/30)*1em;
}
.icon-servises-8 {
	font-size:(54/10)*1rem;
	width:(26/54)*1em;
}
.icon-servises-9 {
	font-size:(41/10)*1rem;
	width:(44/41)*1em;
}
