.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-mouse {
	font-size:(292.48/10)*1rem;
	width:(500/292.48)*1em;
}
