.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-r {
	font-size:(22.14/10)*1rem;
	width:(31.49/22.14)*1em;
}
.icon-dislike {
	font-size:(438.53/10)*1rem;
	width:(438.53/438.53)*1em;
}
.icon-trust-1 {
	font-size:(500/10)*1rem;
	width:(436.27/500)*1em;
}
.icon-trust-2 {
	font-size:(480/10)*1rem;
	width:(500/480)*1em;
}
.icon-trust-3 {
	font-size:(500/10)*1rem;
	width:(403.32/500)*1em;
}
