.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chevron-down {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-motorcycle {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
.icon-play {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-trophy {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-users {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
