.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-down {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-angle-up {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-arr-down {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-arr-up {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-arrow-left {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-arrow-right {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-basket {
	font-size:(407.61/10)*1rem;
	width:(500/407.61)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-close {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-compare {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-downlod {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
.icon-pencil {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-search {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-star {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-star-active {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-user {
	font-size:(17/10)*1rem;
	width:(18/17)*1em;
}
.icon-view-1 {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-view-2 {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-why-1 {
	font-size:(32/10)*1rem;
	width:(31/32)*1em;
}
.icon-why-2 {
	font-size:(32/10)*1rem;
	width:(24/32)*1em;
}
.icon-why-3 {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-why-4 {
	font-size:(32/10)*1rem;
	width:(51/32)*1em;
}
