.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-r {
	font-size:(500/10)*1rem;
	width:(291.58/500)*1em;
}
.icon-arr-r_—_копия {
	font-size:(500/10)*1rem;
	width:(291.58/500)*1em;
}
.icon-default {
	font-size:(500/10)*1rem;
	width:(291.58/500)*1em;
}
