.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-chevron-right {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-close {
	font-size:(496.53/10)*1rem;
	width:(500/496.53)*1em;
}
.icon-search {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-shopping-basket {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-star {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-star-empty {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
