
.btn-form{
  margin-top: 24px;
}

.text-gray{
  font-size: 14px;
  color: #87888a;
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: 20px;
  a{
    margin-top: 0;
  }
}
.form-col-auto{
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 10px;
}
.align-items-center{
  align-items: center;
}
.text-danger{
  color: #a31628;
}
.text-danger-mw{
  max-width: 270px;
}


a .fl-l{
  float: left !important;
  margin-left: 0 !important;
  margin-right: 15px !important;
  height: auto !important;
  position: relative;
    top: 5px;
  &.img-back{
    width: 8px;
    height: 12px;
    margin-top: 3px;
    margin-right: 10px;
  }
}

.mt-0{
  margin-top: 0 ;
  
}
.transport-company .btn-secondary{
  margin-bottom: 16px;
}

  // .redact-link{

  // }

  .border-0{
    border: none !important;
  }

  .visible{
    display: block !important;
  }

  .js-toggler.js-rekv-open{
    display: none;
  }

  .rekv_block__item.border-0{
    padding-left: 10px;
    padding-right: 0;
  }
  .mt-30{
    margin-top: 30px;
  }
  .mb-15{
    margin-bottom: 15px;
  }
  .modal-lg{
    width: 100%;
    max-width: 781px;
  }

  .mt-0{
    margin-top: 0;
  }
  .mw-500{
    max-width: 500px;
  }
  .order-footer{
    padding-top: 80px;
  }

  .text-center h1{
    text-align: center;
  }
  .s-section{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .responsive-img{
    max-width: 100%;
    height: auto;
  }


  .redact-adress,
  .js-content{
    // display: block;
  }
  .transport-company .btn-secondary.mt-0{
  margin-top: 0;
}

.d-block{
  display: block !important; 

}

.lk-rekv-ruk .rekv_block__item.d-block .with-dotted-lines{
  padding-left: 0 !important;
  margin-left: 0;
}

.mb-30{
  margin-bottom: 30px;
}

.d-none{
  display: none;
}

.w-100{
  width: 100%;

}

.js-form-row{
  .w-100{
    margin-top: 20px;
  }
}

.lk-rekv-ruk .rekv_block__item .with-dotted-lines{
  margin-left: 0;
}



.redact-link-reqv {
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../images/redact.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  border: solid 1px #e6e6e6;
  right: -56px;
  bottom: 0;
}