.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-soc-1 {
	font-size:(39/10)*1rem;
	width:(39.5/39)*1em;
}
.icon-soc-2 {
	font-size:(39/10)*1rem;
	width:(40/39)*1em;
}
.icon-soc-3 {
	font-size:(39/10)*1rem;
	width:(39/39)*1em;
}
.icon-soc-4 {
	font-size:(39/10)*1rem;
	width:(39.5/39)*1em;
}
