.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-Vector_3 {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-Vector_3.1 {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-arr-left {
	font-size:(95/10)*1rem;
	width:(49/95)*1em;
}
.icon-arr-right {
	font-size:(95/10)*1rem;
	width:(49/95)*1em;
}
.icon-arrow-l {
	font-size:(8/10)*1rem;
	width:(27/8)*1em;
}
.icon-basket {
	font-size:(19/10)*1rem;
	width:(22/19)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-check-2 {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-close {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-delete-basket {
	font-size:(11/10)*1rem;
	width:(9/11)*1em;
}
.icon-like {
	font-size:(10/10)*1rem;
	width:(11/10)*1em;
}
.icon-logo-foot {
	font-size:(33/10)*1rem;
	width:(36/33)*1em;
}
.icon-make {
	font-size:(58/10)*1rem;
	width:(52/58)*1em;
}
.icon-menu {
	font-size:(11/10)*1rem;
	width:(16/11)*1em;
}
.icon-message {
	font-size:(12/10)*1rem;
	width:(13/12)*1em;
}
.icon-pay {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-phone-call {
	font-size:(14/10)*1rem;
	width:(13/14)*1em;
}
.icon-play {
	font-size:(64/10)*1rem;
	width:(87/64)*1em;
}
.icon-print {
	font-size:(22/10)*1rem;
	width:(21/22)*1em;
}
.icon-search {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-shipped {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-star {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-user {
	font-size:(350/10)*1rem;
	width:(350/350)*1em;
}
.icon-variant-1 {
	font-size:(19/10)*1rem;
	width:(18/19)*1em;
}
.icon-variant-2 {
	font-size:(19/10)*1rem;
	width:(18/19)*1em;
}
.icon-variant-3 {
	font-size:(19/10)*1rem;
	width:(18/19)*1em;
}
.icon-video {
	font-size:(21/10)*1rem;
	width:(24/21)*1em;
}
.icon-wallet {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-watch {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-youtube {
	font-size:(62/10)*1rem;
	width:(61/62)*1em;
}
