.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr {
	font-size:(455/10)*1rem;
	width:(455/455)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-lapa {
	font-size:(242.86/10)*1rem;
	width:(204.5/242.86)*1em;
}
.icon-lapa-out {
	font-size:(246.07/10)*1rem;
	width:(207.12/246.07)*1em;
}
.icon-logo {
	font-size:(144.83/10)*1rem;
	width:(500/144.83)*1em;
}
