.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-l {
	font-size:(392/10)*1rem;
	width:(392/392)*1em;
}
.icon-arr-r {
	font-size:(392/10)*1rem;
	width:(392/392)*1em;
}
.icon-call24 {
	font-size:(221.15/10)*1rem;
	width:(223.62/221.15)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-map-mark {
	font-size:(500/10)*1rem;
	width:(362.16/500)*1em;
}
.icon-med-car {
	font-size:(22.4/10)*1rem;
	width:(35.54/22.4)*1em;
}
.icon-work-1 {
	font-size:(136.66/10)*1rem;
	width:(165.97/136.66)*1em;
}
.icon-work-2 {
	font-size:(118.53/10)*1rem;
	width:(172.4/118.53)*1em;
}
.icon-work-3 {
	font-size:(405.38/10)*1rem;
	width:(500/405.38)*1em;
}
.icon-work-4 {
	font-size:(332.32/10)*1rem;
	width:(282.94/332.32)*1em;
}
