.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
.icon-chevron-right {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
.icon-close {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-mark {
	font-size:(14/10)*1rem;
	width:(10/14)*1em;
}
