.medication__popupImage{
    max-width: 100%;
}
.mfp-wrap{
    z-index:99999999;
}
.product-detail .pd-slogan{
    line-height: 1;
}
.product-detail h1{

}
.cstm_products_list .filter-block .dropdown-menu ul li label i {
 padding-left: 0px;
}
.product-detail h1, .product-detail h2{
    line-height: 1.2;
}
.about-photo img,.quality-block img{

    max-width: 100%;
}
.tab-pages #quality .cp-h1{
    line-height: 1;
}
.recommended-image{
    width: 100%;
}
.main-content h1{
    line-height: 1;
}
.lft-btn {
    background: url(../../codenails/images/left_button.png) no-repeat #8bd7ab center;
    height: 50px;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    border: none;
    display: block;
    margin-bottom: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.lft-btn-ai {
    background-position: -7px -21px;
    padding-left: 12px;
    line-height: 20px;
    padding-top: 5px;
    height: 45px;
}
.lft-btn-fsp {
    background-position: 0px -240px;
    padding-left: 12px;
    line-height: 20px;
    padding-top: 5px;
    height: 45px;
}

.products-list-product.clearfix.item{
    max-height: 400px !important;
}

.scroll-to-top{
    position: absolute;

}
/**** author-popup ************/
#author-popup {
    width: 720px;
}
.author-btn:hover{
    background-color : #058647
}
.author-btn{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    background-color :#059856;
    padding: 14px 18px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 5;
}
header .main-menu ul li a:hover{
    background-color: #059856;
    color: #fff;
}
header .main-menu ul li a:hover .icon img{
    opacity:0;
}
header .main-menu ul li a:hover .icon .hover{
opacity: 1;
}

/***** news btns*****/
.press_center_slider .slick-arrow.slick-prev:after  {
    transform: scale(-1, 1);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 25px;
    margin: -12.5px 0 0 -8px;
    background: url(img/icon-arrow-right-gray.png) 0 0 no-repeat;
}
.press_center_slider .slick-arrow.slick-prev:hover:after  {
    background: url(img/icon-arrow-right-green.png) 0 0 no-repeat;
}
.press_center_slider .slick-arrow.slick-next:hover:after  {
    background: url(img/icon-arrow-right-green.png) 0 0 no-repeat;
}
.press_center_slider .slick-arrow.slick-next:after  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 25px;
    margin: -12.5px 0 0 -8px;
    background: url(img/icon-arrow-right-gray.png) 0 0 no-repeat;
}
.press_center_slider .slick-arrow.slick-prev  {
    margin-left:-21px
}
.press_center_slider .slick-arrow.slick-next   {
    right: 0;
    margin-right:-21px
}
.press_center_slider .slick-arrow {
    opacity: 0.9;
    display: block;
    width: 36px;
    background: rgba(0, 0, 0, 0.0);
    height: 57px;
    border: 0 #fff solid;
    position: absolute;
    z-index: 9999;
    top: 21%;
}


.slick-arrow {
    outline: none !important;
}
a.politika:hover{text-decoration:underline;}
@media (max-width: 1200px){
    .press_center_slider .slick-arrow:after {
        background: url(img/icon-arrow-right.png) 0 0 no-repeat !important;
    }
    .press_center_slider .slick-arrow {
        background: rgba(0, 0, 0, 0.4);

    }
    .press_center_slider .slick-arrow.slick-prev {
        margin-left: 16px;
    }
    .press_center_slider .slick-arrow.slick-next {

        margin-right: 15px;
    }
}

/***** news slider *****/

.press-center .list_s {
    margin: 0 -15px; }
.press-center .list_s .item {
    float: left;
    padding: 0 15px;
    margin-bottom: 40px;
    width: 33.333333%; }

.press-center .list_s .item .block {
    position: relative; }
.press-center .list_s .item .block .pict {
    position: relative;
    margin-bottom: 15px; }
.press-center .list_s .item .block .pict .date {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(5, 152, 86, 0.8);
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    padding: 9px 12px; }
.press-center .list_s .item .block .pict img {
    display: block;
    width: 100%; }
.press-center .list_s .item .block .ttl {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 15px;
    height: 38px;
    overflow: hidden; }
.press-center .list_s .item .block .lnk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.press-center .list_s .item .block:hover .ttl {
    color: #059856; }


.geo-img-block img, .history-pic img{
    width: 100%;
}
.destination-slogan-h1{
    line-height: 1;
}

@media (max-width: 767px){
    .footer-wrapper.where-to-buy{
        display: inline-block;
        width: 100%;
    }
    #author-popup {
        width: 90%;
    }
}

@media only screen and (max-width: 539px) {
    .press-center .list_s .item .block .ttl {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #FFF;
        margin: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 7px 10px;
        height: auto; }
    .press-center .list_s .item .block .txt {
        display: none; } }
.where-to-byu-item-heading{
    font-weight: 600;
}
.breadcrumb .breadcrumb-navigation li,
.breadcrumb .breadcrumb-navigation li a{
    font-size: 14px;
}
.about-short-info{
    line-height: 26px;
}
.tab-pages .backpack-photo.backpack-photo-main  .backpack-title{
    line-height: 28px;
}
.news-item-container .preview_picture{
    border-radius: 0;
}
.news-list-preview  span.dateit{
    position: absolute;
    background: rgba(5, 152, 86, 0.8);
    color: #FFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    padding: 9px 12px;
}
div.news-news img.preview_picture{
    border-radius: 0px;
}
@media only screen and (max-width: 500px) {
    .news-item-container  .n_prv_text{
        display:none;
    }

    .news-item-container .news-item, .news-item-container.clearfix{
        position: relative;
        margin-bottom: 18px;
    }
    .news-item-container .display_n_name2{
        padding: 7px 10px;
    }
    .news-item-container .display_n_name{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        color: #FFF;
        margin: 0;
        background: rgba(0, 0, 0, 0.8);

        height: auto;
    }
    .news-item-container .display_n_name a{
        color: #fff;
        text-decoration: none;
    }


   .news-item-container,  .news-item-container .news-list-preview,
   .news-item-container .news-item, .news-list-preview a,.news-list-preview img{
        width: 100%;
    }
}

.g-recaptcha {
    transform:scale(0.83);
    -webkit-transform:scale(0.83);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;}

.callback-btn{
    /*display: none;*/
}