@charset "UTF-8";
/**
** Astonia styles
**/
#quickFilter .filter-block .dropdown-menu ul li label span {
  left: 15px; }

.products-special-block {
  float: left; }

.products-special-block-inner {
  border: none;
  padding: 0; }

.products-list-search-form input {
  font-size: 12px; }

.hints-search-input-container .hs-select-button {
  background: #FFF url(../img/icon-search.png) center center no-repeat;
  right: 1px; }

.form_wrapper {
  padding: 20px 10px 10px;
  border: 1px solid #CCCCCC;
  font-size: 12px;
  line-height: 15px; }

.form_wrapper h3 {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 13px; }

.psf-text2, .psf-text1 {
  font-size: 12px;
  line-height: 15px;
  color: #333; }

.psf-text3 {
  color: #059856;
  text-transform: lowercase;
  cursor: pointer;
  border-bottom: 1px dashed #059856; }

.extended_search {
  display: none; }

.products-search-reset-button.btn {
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #ea0a29;
  border: 1px solid transparent;
  background: transparent; }

.products-search-reset-button.btn:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  background: url(../img/icon-close-red.png) 0 0 no-repeat; }

.products-special-block-inner input[type='submit'] {
  display: block;
  border: 1px solid #059856;
  background: #059856;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  width: 100%;
  height: inherit;
  line-height: inherit;
  font-size: 12px; }

.products-search-reset-button.btn {
  margin: 0;
  height: inherit;
  line-height: inherit;
  text-transform: lowercase; }

.banners {
  padding: 15px 10px; }

.banners a span {
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  font-size: 14px;
  width: 165px;
  text-align: left;
  font-weight: bold; }

.products-list {
  float: left;
  width: 75%; }

.products-list-buttons {
  float: none; }

.products-list-product h2 {
  clear: both; }

.product-block .bottom {
  top: 340px; }

.product-block .top {
  min-height: 410px; }

.products-list-priview {
  display: none; }

.products-list-product .farm-name {
  font-size: 14px;
  line-height: 17px;
  height: 34px;
  overflow: hidden;
  background: transparent;
  color: #333; }

.products-list-link {
  color: #333;
  text-decoration: none; }

.banners {
  padding: 15px 10px; }

.products-list {
  float: left;
  width: 75%; }

.products-list .item {
  padding-top: 0; }

.products-list-buttons {
  float: none; }

.products-list-product h2 {
  clear: both; }

.product-block .top {
  min-height: 390px; }

.product-block .bottom {
  top: 330px; }

.products-list-priview {
  display: none; }

.products-list-product .farm-name {
  font-size: 14px;
  line-height: 17px;
  height: 34px;
  overflow: hidden;
  background: transparent;
  color: #333; }

.product-list-general-labels {
  position: absolute;
  left: 0;
  top: 0; }

.products-detail-link-image {
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-bottom: 15px; }

div.specials-new-block, a.specials-new-block {
  background: none; }

.product-list-general-labels img {
  position: absolute;
  left: 0;
  top: 0; }

.sorty-filter {
  margin-left: 10px;
  padding-top: 0; }

.bx_pagination_bottom .bx_pagination_page li a,
div.modern-page-navigation a {
  color: #333;
  font-size: 14px;
  display: block;
  border: 1px solid #CCC;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bx_pagination_bottom .bx_pagination_page li:last-child a,
.bx_pagination_bottom .bx_pagination_page li:first-child a,
.modern-page-current {
  width: 90px !important; }

.bx_pagination_bottom .bx_pagination_page li.bx_active,
.bx_pagination_bottom .bx_pagination_page li a:hover,
div.modern-page-navigation a:hover, span.modern-page-current {
  border: 2px solid #059856;
  line-height: 38px;
  color: #059856;
  font-weight: bold;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: none;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  height: 40px; }

.bx_pagination_bottom .bx_pagination_page li.bx_active {
  width: 36px;
  height: 36px; }

.bx_pagination_bottom .bx_pagination_page li {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px; }

.bx_pagination_bottom {
  padding-bottom: 30px; }

.bx_pagination_bottom .bx_pagination_page li {
  vertical-align: inherit; }

#products-list-animal-group-sb, #products-list-farm-name-sb, #products-list-animal-group, #products-list-acting-substance {
  display: none !important; }

#products-list-farm-name-sb-button,
#products-list-animal-group-sb-button {
  display: none !important; }

.catalog-filter {
  padding: 0;
  border: none; }

.animals {
  padding-top: 20px; }

.btn-load {
  background: none;
  padding-left: 0; }

.btn-load-wrap span {
  background: url(../img/reload.gif) no-repeat;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 5px;
  display: none; }

.home-page-block.products .home-page-slides-carousel-container {
  width: 99%;
  max-width: 99%;
  margin-left: 1%; }

.home-page-block.products .owl-next {
  display: block !important;
  width: 50px;
  height: 110px;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 50;
  overflow: hidden;
  text-indent: -999px;
  left: auto;
  right: 0; }

.home-page-block.products .owl-prev {
  display: block !important;
  width: 50px;
  height: 110px;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 50;
  overflow: hidden;
  text-indent: -999px;
  left: 0;
  right: auto; }

.home-page-block.products .owl-prev:after,
.home-page-block.products .owl-next:after {
  content: '';
  width: 16px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -8px;
  background: url(../img/slider-arrow.png) 0 0 no-repeat; }

.home-page-block.products .owl-prev:hover, .home-page-block.products .owl-next:hover {
  background: rgba(5, 152, 86, 0.8); }

.home-page-block.products .owl-next:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.bx_pg_section.bx_pg_show_col, .bx_pg_text {
  display: none; }

.psf-text2 {
  margin-bottom: 0;
  text-align: center; }

.psf-text1 {
  font-size: 18px;
  padding-top: 10px; }

select.new-label + span:after {
  display: none; }

.extended_search {
  padding-top: 10px; }

#products-list-indications-sb-button {
  margin-bottom: 10px; }

.filter-block {
  padding: 0; }

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.lft-btn-fsp {
  padding-left: 80px;
  display: block; }

.lft-btn.lft-btn-axii {
  background: url(../img/icon-submenu3.png) no-repeat #8bd7ab 25px 10px; }

.hints-search-input {
  padding: 6px 32px 6px 15px; }

.filter-block .dropdown-menu .head, span.ui-selectmenu-button span.ui-selectmenu-text {
  text-transform: inherit; }

.products-list .home-page-block {
  margin-bottom: 0; }

.banners.top-top, .advanced-search {
  display: none; }

.hint img {
  height: auto !important; }

.product-block .bottom.mobile .row {
  display: none; }

#detailed-popup .description {
  display: none; }

#detailed-popup.wtb {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  max-width: 940px;
  top: 50px;
  display: none;
  padding-top: 30px;
  padding-bottom: 40px; }

#detailed-popup.wtb .wtb_filters {
  width: 69%; }

#detailed-popup.wtb .content.wtob {
  max-width: 940px; }

#detailed-popup.wtb {
  left: 50%; }

#detailed-popup .map-filter-list {
  display: none;
  overflow-y: scroll;
  height: 557px; }

#where-to-buy-container {
  overflow-x: hidden; }

#detailed-popup .close {
  position: absolute;
  right: 40px;
  z-index: 999;
  top: 30px; }

/**
** Непонятный фикс
**/
/*.filter-block .dropdown-menu ul li label span{/
  opacity: 0;
}*/
.filter-block .dropdown-menu ul li label img {
  left: 9px; }

.filter-block .dropdown-menu ul li label i {
  vertical-align: inherit; }

.filter-block .dropdown-menu ul li label {
  line-height: 40px; }

.filter-block .dropdown-menu ul li label span {
  left: 50px; }

.filter-block .dropdown-menu .head {
  background: #fff;
  z-index: 0; }

.hole .tx {
  float: right; }

.single .tx {
  float: right; }

#detailed-popup .hole .tx {
  width: 70px;
  float: right; }

#detailed-popup .single .tx {
  width: 97px;
  float: right; }

.owl-stage {
  padding-bottom: 20px; }

.owl-dots {
  position: absolute;
  bottom: 45px;
  right: 26px; }

.map-filter-list {
  overflow: scroll;
  height: 400px;
  overflow-x: hidden; }

.not-found {
  padding: 20px;
  font-weight: 700;
  font-size: 18px; }

.products-search-page-container .extended_search {
  display: block; }

.where-to-buy-item.active {
  border: 2px solid #059856 !important;
  border-right: none !important;
  margin-top: 80px; }

.where-to-buy-item.re.active {
  border: 2px solid #ff9600 !important;
  border-right: none !important;
  margin-top: 80px; }

.filter-block .dropdown-menu ul li label span {
  left: 60px; }

.filter-block .dropdown-menu ul li label i {
  padding-left: 50px; }

.search-page .filter-block .dropdown-menu ul li label i {
  padding-left: 0px; }

.slider.top-top {
  display: none; }

@media (max-width: 1200px) {
  .filter-block .dropdown-menu ul li label span {
    left: 50px; }
  .filter-block .dropdown-menu ul li label i {
    padding-left: 0;
    left: -20px;
    position: relative;
    padding-left: 50px; }
  .products-special-block-search {
    width: 25%; }
  .products-list {
    width: 73%; }
  .psf-text2 span {
    display: inline-block; }
  .psf-text1 {
    float: left;
    margin-top: 0; }
  .psf-text2 {
    text-align: left;
    position: relative;
    left: 8px; }
  .banners a span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 11px;
    width: 135px;
    text-align: left;
    font-weight: bold; } }

@media (max-width: 1024px) {
  .products-special-block-search {
    width: 25%; }
  .products-list {
    width: 73%; }
  .banners a span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 11px;
    width: 135px;
    text-align: left;
    font-weight: bold; }
  .banners {
    padding: 15px 0px;
    clear: both; } }

@media (max-width: 991px) {
  .products-special-block-search {
    width: 33%; }
  .products-list {
    width: 68%;
    margin-bottom: 30px; }
  .filter-block .dropdown-menu ul li label i {
    left: 0px;
    padding-left: 0px; }
  .filter-block .dropdown-menu ul li label span {
    left: 15px; } }

@media (max-width: 767px) {
  .slider.top-top {
    display: block; }
  .products-list-product {
    margin-bottom: 10px; }
  .filter-block .dropdown-menu ul li label span {
    opacity: 1; }
  span.ui-selectmenu-button span.ui-icon-triangle-1-s {
    background: transparent;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: none;
    border-top: 8px solid #059856;
    margin-top: -2px; }
  .body-wrapper {
    padding-bottom: 0px; }
  .filter-block .dropdown-menu ul {
    background: #fff;
    z-index: 9999;
    position: relative; }
  span.ui-selectmenu-button {
    width: 99.7% !important; }
  .products-list .item {
    padding-right: 0; }
  .advanced-search {
    display: block; }
  .products-special-block-search {
    width: 100%; }
  .products-list {
    width: 100%; }
  .homepage-top-right.products {
    display: none; }
  .bx_pagination_bottom {
    padding-bottom: 0px; }
  /*}
@media (max-width: 768px){*/
  /***************/
  .products-list {
    width: 100%; }
  .homepage-top-right.products {
    display: none; }
  .bx_pagination_bottom {
    padding-bottom: 100px; }
  .lft-btn, .lft-btn.lft-btn-axii {
    background-position: 50% -15px;
    padding-right: 0;
    padding-top: 64px;
    font-size: 12px;
    padding-bottom: 0;
    line-height: inherit;
    height: 30px; }
  .lft-btn.lft-btn-axii {
    background: url(../img/icon-submenu3.png) no-repeat #8bd7ab 50% 18px !important; }
  .lft-btn-fsp, .lft-btn-ai, .lft-btn-cl {
    padding-left: 0;
    padding-right: 0; }
  .banners a span {
    width: 100%;
    text-align: center; }
  .lft-btn.lft-btn-axii {
    margin-right: 0; }
  /***************/
  .banners .lft-btn {
    width: 32.6%;
    width: 50%;
    float: left;
    margin-right: 1%; }
  .banners .lft-btn.lft-btn-axii {
    width: 49%; }
  .products-list {
    width: 100%; }
  .homepage-top-right.products {
    display: none; }
  .bx_pagination_bottom {
    padding-bottom: 0px; }
  .lft-btn.lft-btn-cl, .lft-btn.lft-btn-axii {
    margin-right: 0; }
  .hints-search {
    width: 50%;
    float: left; }
  .psf-text2, .psf-text1 {
    display: none; }
  .advanced-search {
    float: right;
    width: 49%;
    padding: 11px;
    border: 1px solid #059856;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px; }
  .advanced-search:before {
    content: '';
    width: 14px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
    background: url(../img/icon-list.png) 0 0 no-repeat; }
  .products-list-search-form input {
    margin-top: 0; }
  .form_wrapper {
    padding: 0;
    border: 0; }
  .banners.top-top {
    display: block; }
  .banners, .form_wrapper h3 {
    display: none; }
  .top_extended_search input[type='submit'] {
    margin-top: 20px; }
  .top_extended_search {
    clear: both; }
  .top_extended_search {
    display: none;
    background: #FFF;
    position: fixed;
    z-index: 600;
    width: 265px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    top: 50px;
    right: 0;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  .products-special-block-inner input[type='submit'] {
    height: 40px;
    position: absolute;
    width: 245px;
    bottom: 95px;
    z-index: -1; }
  .products-search-reset-button.btn {
    margin: 0;
    height: inherit;
    line-height: inherit;
    text-transform: lowercase;
    position: absolute;
    bottom: 65px;
    width: 245px;
    z-index: -1; }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 599;
    display: none; }
  .products-detail-link-image img {
    width: 60px;
    height: auto !important;
    padding-top: 10px;
    margin: 0 auto; }
  .box-left {
    width: 25%;
    float: left; }
  .box-right {
    float: left;
    width: 74%;
    position: relative; }
  .product-block .bottom .row {
    display: none; }
  .product-block .bottom.mobile .row {
    display: block; }
  .product-block .inner .bottom {
    left: 0; }
  .products-list-product .farm-name {
    display: block;
    text-align: left;
    padding-left: 0; }
  .products-list-product h2 {
    text-align: left;
    padding-top: 10px; }
  .product-block .top {
    min-height: 160px; } }

@media (max-width: 585px) {
  .banners a span {
    line-height: 12px;
    position: relative;
    top: -5px; } }

@media (max-width: 520px) {
  .body-wrapper {
    padding-bottom: 0px; }
  .products-specials {
    margin-bottom: 100px; }
  #back, #forward {
    display: none; }
  .bx_pagination_bottom .bx_pagination_page li:last-child a, .bx_pagination_bottom .bx_pagination_page li:first-child a, .modern-page-current {
    width: 40px !important; }
  .bx_pagination_bottom .bx_pagination_page li.bx_active, .bx_pagination_bottom .bx_pagination_page li a, div.modern-page-navigation a {
    width: 28px;
    height: 28px; }
  .bx_pagination_bottom .bx_pagination_page li a, div.modern-page-navigation a {
    color: #333;
    font-size: 14px;
    display: block;
    border: 1px solid #CCC;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .bx_pagination_bottom .bx_pagination_page li.bx_active, .bx_pagination_bottom .bx_pagination_page li a:hover, div.modern-page-navigation a:hover, span.modern-page-current {
    line-height: 30px;
    height: 28px; }
  .bx_pagination_bottom .bx_pagination_page li:last-child a, .bx_pagination_bottom .bx_pagination_page li:first-child a, .modern-page-current {
    width: 30px !important; }
  .bx_pagination_bottom .bx_pagination_page li.bx_active, .bx_pagination_bottom .bx_pagination_page li a:hover, div.modern-page-navigation a:hover, span.modern-page-current {
    height: 30px;
    line-height: 30px; }
  .bx_pagination_bottom .bx_pagination_page li.bx_active {
    height: 28px; }
  .products-list-link {
    position: relative;
    left: 0px;
    top: 10px; } }

@media (max-width: 480px) {
  .products-list-product .farm-name {
    display: none; }
  .filter-block .dropdown-menu ul {
    border-bottom: 2px solid GREEN;
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    min-height: 300px; }
  .hole .tx {
    width: 70px;
    float: right; }
  .single .tx {
    width: 97px;
    float: right; } }

@media (max-width: 320px) {
  .hole .tx {
    width: 190px;
    float: right; }
  .single .tx {
    width: 190px;
    float: right; }
  .products-list-link {
    left: 10px; }
  .body-wrapper {
    width: 320px; }
  .where-to-buy-item h3 {
    padding-top: 22px; }
  .product-block .top {
    min-height: 160px;
    float: left;
    padding-bottom: 0px;
    width: 100%;
    background: #f2f2f2; }
  .products-list-product .farm-name {
    padding-left: 10px; }
  .banners a span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 9px;
    text-align: left;
    font-weight: bold;
    line-height: 11px;
    top: -7px;
    position: relative;
    text-align: center; }
  .hints-search, .advanced-search {
    width: 100%; }
  .advanced-search {
    margin-bottom: 10px; }
  .product-block .inner .bottom {
    top: 30px;
    left: 10px;
    position: relative; }
  .products-list .item {
    padding-right: 0; } }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.publication-tabs .publication-tabs-head ul {
  list-style-type: none;
  display: table;
  padding: 0;
  margin: 0;
  width: 100%; }

.publication-tabs .publication-tabs-head ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  border-left: 2px solid #FFF;
  padding: 12px 15px;
  text-decoration: none;
  color: #333333;
  background: #f0f0f0;
  cursor: pointer; }

.publication-tabs .publication-tabs-head ul li:first-child {
  border: none; }

.publication-tabs .publication-tabs-head ul li.active {
  background: #059856;
  color: #FFF; }

.publication-tabs .tabs .tab {
  display: none; }

.publication-tabs .tabs .tab.active {
  display: block; }

.publication-tabs .tabs .tab input[type='submit'] {
  margin-top: 15px; }

.publication-tabs .tabs .form_wrapper {
  padding: 15px 8px 15px;
  border: 2px solid #059856; }

.publication-tabs .tabs .form_wrapper .hints-search-input {
  margin-top: 0 !important; }

.publication-tabs .tabs .form_wrapper .extended_search {
  display: block !important;
  padding: 10px 0 0 !important; }

.publication-tabs .tabs .form_wrapper .extended_search .extended_search {
  display: block !important; }

@media only screen and (min-width: 768px) {
  .publication-tabs {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .publication-tabs {
    display: none; }
  .publication-tabs .hints-search {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .publication-tabs-btn {
    display: none; } }

@media only screen and (max-width: 767px) {
  .publication-tabs-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 11px;
    border: 1px solid #059856;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px; }
  .publication-tabs-btn:before {
    content: '';
    width: 14px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
    background: url(../img/icon-list.png) 0 0 no-repeat; } }

.publication-container .products-special-block-inner {
  height: auto !important; }

@media only screen and (max-width: 767px) {
  .publication-container {
    margin-bottom: 30px !important; } }

.publication-preview-list {
  width: 100%;
  margin-left: 10px; }

.publication-preview-list .publication-item {
  border-left: 5px solid;
  margin-bottom: 15px;
  background: #F3F3F3;
  padding: 30px 30px 40px 25px; }

.publication-preview-list .publication-item .inner {
  display: table;
  width: 100%;
  table-layout: fixed; }

.publication-preview-list .publication-item .inner > div {
  display: table-cell; }

.publication-preview-list .publication-item .inner > div.pict {
  text-align: center;
  vertical-align: middle;
  width: 160px; }

.publication-preview-list .publication-item .inner > div.pict img {
  max-width: 100%; }

.publication-preview-list .publication-item .inner > div.descript {
  padding-right: 20px; }

.publication-preview-list .publication-item .autor {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.publication-preview-list .publication-item .title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  min-height: 22px; }

.publication-preview-list .publication-item .title a {
  color: inherit;
  text-decoration: none; }

.publication-preview-list .publication-item .title a:hover {
  text-decoration: underline; }

.publication-preview-list .publication-item .row {
  margin-bottom: 20px; }

.publication-preview-list .publication-item .row + .row {
  margin-bottom: 0; }

.publication-preview-list .publication-item .txt {
  float: left;
  width: 58%;
  font-size: 14px;
  line-height: 18px;
  max-height: 50px;
  overflow: hidden; }

.publication-preview-list .publication-item .groups {
  float: right;
  width: 28%;
  text-align: right; }

.publication-preview-list .publication-item .groups .ttl {
  overflow: hidden; }

.publication-preview-list .publication-item .groups .ttl a {
  display: inline-block;
  line-height: 36px; }

.publication-preview-list .publication-item .groups .ttl img {
  float: left;
  margin-right: 5px; }

.publication-preview-list .publication-item .type-animal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }

.publication-preview-list .publication-item .type-animal li {
  float: left;
  margin-left: 4px; }

.publication-preview-list .publication-item .btn-wrap {
  float: left; }

.publication-preview-list .publication-item .btn-wrap .button {
  display: inline-block;
  width: 115px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.publication-preview-list .publication-item .btn-wrap .button.btn-dowload {
  color: #000;
  padding: 0 25px;
  background: #FFF url(../img/icon-dowload.jpg) right 0 no-repeat; }

.publication-preview-list .publication-item .btn-wrap .button.btn-read {
  background: #059856;
  color: #FFF; }

@media only screen and (max-width: 991px) {
  .publication-preview-list .publication-item {
    padding: 15px 15px 20px; }
  .publication-preview-list .publication-item .inner > div.pict {
    width: 120px; }
  .publication-preview-list .publication-item .inner > div.descript {
    padding-left: 10px; }
  .publication-preview-list .publication-item .inner > div.descript .autor,
  .publication-preview-list .publication-item .inner > div.descript .title {
    margin-bottom: 7px; }
  .publication-preview-list .publication-item .inner > div.descript .row {
    padding-bottom: 0;
    margin: 0;
    position: relative; }
  .publication-preview-list .publication-item .inner > div.descript .txt {
    margin-bottom: 15px;
    float: none;
    width: auto; }
  .publication-preview-list .publication-item .inner > div.descript .groups {
    text-align: left;
    float: none;
    width: auto;
    padding-bottom: 7px;
    position: absolute;
    bottom: -92px;
    left: 0; }
  .publication-preview-list .publication-item .inner > div.descript .btn-wrap {
    float: none;
    padding-bottom: 7px; }
  .publication-preview-list .publication-item .inner > div.descript .type-animal {
    margin-top: 55px;
    float: none;
    overflow: hidden; } }

@media only screen and (max-width: 767px) {
  .publication-preview-list .publication-item {
    padding: 15px 15px 20px; }
  .publication-preview-list .publication-item .inner {
    display: block; }
  .publication-preview-list .publication-item .inner > div {
    display: block; }
  .publication-preview-list .publication-item .inner > div.pict {
    display: none !important; }
  .publication-preview-list .publication-item .inner > div.descript {
    padding-left: 10px; }
  .publication-preview-list .publication-item .inner > div.descript .autor,
  .publication-preview-list .publication-item .inner > div.descript .title {
    margin-bottom: 7px; }
  .publication-preview-list .publication-item .inner > div.descript .txt {
    display: none !important; }
  .publication-preview-list .publication-item .inner > div.descript .groups {
    text-align: left;
    float: none;
    width: auto;
    padding-bottom: 7px; }
  .publication-preview-list .publication-item .inner > div.descript .type-animal {
    float: none;
    padding-bottom: 7px;
    overflow: hidden; } }

.breadcrumbs {
  background: #F4F4F4; }
  .breadcrumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 16px 0; }
    .breadcrumbs ul li {
      float: left;
      position: relative;
      font-size: 14px;
      line-height: 18px;
      color: #666; }
      .breadcrumbs ul li a {
        color: #000;
        position: relative;
        padding: 0 25px 0 0;
        display: block; }
        .breadcrumbs ul li a:after {
          content: '';
          width: 14px;
          height: 5px;
          position: absolute;
          top: 50%;
          right: 5px;
          margin-top: -2.5px;
          background: url(../img/arrow14x5.png) 0 0 no-repeat; }
      .breadcrumbs ul li span {
        padding: 0 25px 0 0;
        display: none; }

.scheme__container {
  position: relative;
  overflow: hidden; }
  .scheme__container .pict__wrap {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden; }
    .scheme__container .pict__wrap .visible-xs {
      display: none; }
    @media only screen and (max-width: 767px) {
      .scheme__container .pict__wrap {
        position: relative;
        width: 100%;
        height: 300px; }
        .scheme__container .pict__wrap .visible-lg {
          display: none; }
        .scheme__container .pict__wrap .visible-xs {
          display: block; } }
  .scheme__container .pict__tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .scheme__container .pict__tab img {
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .scheme__container .pict__tab.active {
      opacity: 1; }
  .scheme__container .left__column {
    width: 50%;
    padding: 30px 30px 0 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
    @media only screen and (max-width: 767px) {
      .scheme__container .left__column {
        width: auto;
        padding: 20px 10px; } }
    .scheme__container .left__column .title {
      margin: 0 0 25px;
      font-size: 28px;
      line-height: 31px; }
    .scheme__container .left__column .tabs__head ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #059856;
      overflow: hidden; }
      .scheme__container .left__column .tabs__head ul li {
        float: left; }
        .scheme__container .left__column .tabs__head ul li a {
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          color: #000;
          padding: 11px 25px 11px 50px;
          font-size: 14px;
          line-height: 18px;
          background: #F0F0F0;
          position: relative; }
          @media only screen and (max-width: 991px) {
            .scheme__container .left__column .tabs__head ul li a {
              font-size: 13px;
              padding: 11px 10px 11px 35px; } }
          @media only screen and (max-width: 767px) {
            .scheme__container .left__column .tabs__head ul li a {
              font-size: 11px; } }
          .scheme__container .left__column .tabs__head ul li a .icon {
            position: absolute;
            width: 21px;
            height: 21px;
            top: 50%;
            left: 19px;
            margin-top: -10.5px; }
            @media only screen and (max-width: 991px) {
              .scheme__container .left__column .tabs__head ul li a .icon {
                left: 5px; } }
          .scheme__container .left__column .tabs__head ul li a:hover {
            background: #059856; }
        .scheme__container .left__column .tabs__head ul li .icon-cattle {
          background: url(../img/icon-cattle.png) center bottom no-repeat; }
        .scheme__container .left__column .tabs__head ul li .icon-pic {
          background: url(../img/icon-pic.png) center bottom no-repeat; }
        .scheme__container .left__column .tabs__head ul li.active a {
          background: #059856;
          color: #FFF; }
          .scheme__container .left__column .tabs__head ul li.active a .icon {
            background-position: center 0; }
  .scheme__container .tabs-wrap {
    padding: 25px 0; }
    .scheme__container .tabs-wrap .tab {
      display: none; }
      .scheme__container .tabs-wrap .tab.active {
        display: block; }
    .scheme__container .tabs-wrap nav > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid #D0EBDF; }
      .scheme__container .tabs-wrap nav > ul > li {
        border-bottom: 1px solid #D0EBDF;
        padding: 11px 0; }
        .scheme__container .tabs-wrap nav > ul > li > a {
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
          text-decoration: none;
          color: #000; }
          .scheme__container .tabs-wrap nav > ul > li > a:hover {
            text-decoration: underline;
            color: #059856; }
        .scheme__container .tabs-wrap nav > ul > li ul {
          padding: 5.5px 0 0;
          font-size: 14px;
          line-height: 19px;
          margin: 0;
          color: #047d47;
          list-style-type: none; }
          .scheme__container .tabs-wrap nav > ul > li ul li {
            position: relative;
            padding-left: 15px; }
            .scheme__container .tabs-wrap nav > ul > li ul li:after {
              content: '';
              width: 3px;
              height: 3px;
              background: #059856;
              -webkit-border-radius: 100%;
                      border-radius: 100%;
              overflow: hidden;
              position: absolute;
              top: 7px;
              left: 0; }
          .scheme__container .tabs-wrap nav > ul > li ul a {
            font-size: 14px;
            line-height: 19px;
            color: #047d47;
            text-decoration: none; }
            .scheme__container .tabs-wrap nav > ul > li ul a:hover {
              text-decoration: underline; }
