.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-net_ucheta {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-002-pechat {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-003-net_vremeni {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-004-Oshibki {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-005-Vse_na_bumage {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-007-Padayut_prodazi {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-008-kto_vashi_klient {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-light-bulb {
	font-size:(500/10)*1rem;
	width:(479.83/500)*1em;
}
.icon-logo {
	font-size:(388.31/10)*1rem;
	width:(454.09/388.31)*1em;
}
.icon-mnu-1 {
	font-size:(499.99/10)*1rem;
	width:(500/499.99)*1em;
}
.icon-mnu-2 {
	font-size:(448/10)*1rem;
	width:(480/448)*1em;
}
.icon-mnu-3 {
	font-size:(29/10)*1rem;
	width:(29/29)*1em;
}
.icon-mnu-4 {
	font-size:(29/10)*1rem;
	width:(29/29)*1em;
}
.icon-mnu-5 {
	font-size:(500/10)*1rem;
	width:(416.67/500)*1em;
}
.icon-prob-1 {
	font-size:(367.06/10)*1rem;
	width:(500/367.06)*1em;
}
