.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-service-1 {
	font-size:(61.87/10)*1rem;
	width:(62.07/61.87)*1em;
}
.icon-service-2 {
	font-size:(60.71/10)*1rem;
	width:(60.71/60.71)*1em;
}
.icon-service-3 {
	font-size:(70/10)*1rem;
	width:(45.58/70)*1em;
}
.icon-service-4 {
	font-size:(54.72/10)*1rem;
	width:(58.33/54.72)*1em;
}
.icon-title-img {
	font-size:(18.56/10)*1rem;
	width:(19.65/18.56)*1em;
}
