.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bell {
	font-size:(323.6/10)*1rem;
	width:(270/323.6)*1em;
}
.icon-book {
	font-size:(500/10)*1rem;
	width:(426.69/500)*1em;
}
.icon-calendar {
	font-size:(500/10)*1rem;
	width:(468.82/500)*1em;
}
.icon-cargo {
	font-size:(434.12/10)*1rem;
	width:(500/434.12)*1em;
}
.icon-check {
	font-size:(10/10)*1rem;
	width:(13/10)*1em;
}
.icon-child {
	font-size:(435/10)*1rem;
	width:(392.09/435)*1em;
}
.icon-clock {
	font-size:(498/10)*1rem;
	width:(498/498)*1em;
}
.icon-close {
	font-size:(8/10)*1rem;
	width:(8/8)*1em;
}
.icon-close-l {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-delete {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.icon-dislike {
	font-size:(448/10)*1rem;
	width:(424/448)*1em;
}
.icon-doctor {
	font-size:(379.53/10)*1rem;
	width:(327.55/379.53)*1em;
}
.icon-down {
	font-size:(4/10)*1rem;
	width:(8/4)*1em;
}
.icon-edit {
	font-size:(452/10)*1rem;
	width:(460.86/452)*1em;
}
.icon-exclamation-circle {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-eye {
	font-size:(283.73/10)*1rem;
	width:(500/283.73)*1em;
}
.icon-facebook-f {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-google-plus-g {
	font-size:(400/10)*1rem;
	width:(500/400)*1em;
}
.icon-home {
	font-size:(384/10)*1rem;
	width:(415.38/384)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-left {
	font-size:(8/10)*1rem;
	width:(4/8)*1em;
}
.icon-like {
	font-size:(448/10)*1rem;
	width:(424/448)*1em;
}
.icon-linkedin-in {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-lock {
	font-size:(435.13/10)*1rem;
	width:(333.25/435.13)*1em;
}
.icon-logo {
	font-size:(60.28/10)*1rem;
	width:(500/60.28)*1em;
}
.icon-mail {
	font-size:(313.92/10)*1rem;
	width:(410/313.92)*1em;
}
.icon-mail-checkmark {
	font-size:(384/10)*1rem;
	width:(384/384)*1em;
}
.icon-mailru {
	font-size:(336/10)*1rem;
	width:(358/336)*1em;
}
.icon-map {
	font-size:(462.02/10)*1rem;
	width:(346/462.02)*1em;
}
.icon-menu {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-odnoklassniki {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-people {
	font-size:(471.39/10)*1rem;
	width:(427.94/471.39)*1em;
}
.icon-plus {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-print {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-profile {
	font-size:(497/10)*1rem;
	width:(312/497)*1em;
}
.icon-search {
	font-size:(460.46/10)*1rem;
	width:(460.44/460.46)*1em;
}
.icon-search-small {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-share {
	font-size:(458.44/10)*1rem;
	width:(435.27/458.44)*1em;
}
.icon-star {
	font-size:(357.34/10)*1rem;
	width:(377.51/357.34)*1em;
}
.icon-star-active {
	font-size:(357.4/10)*1rem;
	width:(377.48/357.4)*1em;
}
.icon-status-1 {
	font-size:(437.56/10)*1rem;
	width:(490.63/437.56)*1em;
}
.icon-status-2 {
	font-size:(468.03/10)*1rem;
	width:(494.66/468.03)*1em;
}
.icon-status-3 {
	font-size:(500/10)*1rem;
	width:(434.09/500)*1em;
}
.icon-status-4 {
	font-size:(484.88/10)*1rem;
	width:(355/484.88)*1em;
}
.icon-status-5 {
	font-size:(421.88/10)*1rem;
	width:(500/421.88)*1em;
}
.icon-status-6 {
	font-size:(470.99/10)*1rem;
	width:(500/470.99)*1em;
}
.icon-twitter {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-view {
	font-size:(283.73/10)*1rem;
	width:(500/283.73)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
