.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-about-i-1 {
	font-size:(421.88/10)*1rem;
	width:(500/421.88)*1em;
}
.icon-about-i-2 {
	font-size:(394.16/10)*1rem;
	width:(455.7/394.16)*1em;
}
.icon-about-i-3 {
	font-size:(336.5/10)*1rem;
	width:(447.03/336.5)*1em;
}
.icon-about-i-4 {
	font-size:(448/10)*1rem;
	width:(432/448)*1em;
}
.icon-about-i-5 {
	font-size:(448/10)*1rem;
	width:(496/448)*1em;
}
.icon-about-i-6 {
	font-size:(500/10)*1rem;
	width:(453.13/500)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-down {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
.icon-header-i-1 {
	font-size:(267.47/10)*1rem;
	width:(491.29/267.47)*1em;
}
.icon-header-i-2 {
	font-size:(420.54/10)*1rem;
	width:(496.52/420.54)*1em;
}
.icon-header-i-3 {
	font-size:(466.8/10)*1rem;
	width:(500/466.8)*1em;
}
.icon-servise-i-1 {
	font-size:(468.63/10)*1rem;
	width:(500/468.63)*1em;
}
.icon-servise-i-2 {
	font-size:(500/10)*1rem;
	width:(234.15/500)*1em;
}
.icon-servise-i-3 {
	font-size:(465.14/10)*1rem;
	width:(500/465.14)*1em;
}
.icon-up {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
