
.icon-i-cart:before { content: '\e800'; } /* '' */
.icon-i-box:before { content: '\e801'; } /* '' */
.icon-i-check:before { content: '\e804'; } /* '' */
.icon-badge-simple-outline:before { content: '\e805'; } /* '' */
.icon-i-medal:before { content: '\e806'; } /* '' */
.icon-i-pen:before { content: '\e807'; } /* '' */
.icon-i-tel:before { content: '\e808'; } /* '' */
.icon-i-tel-2:before { content: '\e809'; } /* '' */
.icon-i-user:before { content: '\e80a'; } /* '' */
.icon-left-open-mini:before { content: '\e80b'; } /* '' */
.icon-right-open-mini:before { content: '\e80c'; } /* '' */