
.icon-badge:before { content: '\e800'; } /* '' */
.icon-evacuator:before { content: '\e801'; } /* '' */
.icon-time-left:before { content: '\e802'; } /* '' */
.icon-coffee-cup:before { content: '\e805'; } /* '' */
.icon-maps-and-flags:before { content: '\e807'; } /* '' */
.icon-vk:before { content: '\e808'; } /* '' */
.icon-left-small:before { content: '\e80b'; } /* '' */
.icon-right-small:before { content: '\e80c'; } /* '' */