/*font-family: 'PT Sans', sans-serif; font-family: 'Raleway', sans-serif;*/

@font-face{
font-family: Idealist Sans;
src: local("Idealist Sans"),
url(../fonts/Idealist.ttf);
}
@font-face{
font-family: Idealist Sans Light;
src: local("Idealist Sans Light"),
url(../fonts/IdealistSans-Light.ttf);
}

html * {max-height:999999px;}
/*-------------------------------------------------------------*/
body{padding:0px 0px 0px 0px; margin:0 auto; background-color:#fff; font-family: 'Open Sans', sans-serif; height: 100%; position:relative;}


.clr{clear: both;}
/*--------------- oftalm ------------------------*/
.oftalm{position: relative; margin: 0 0 0 0; padding: 0 0 0 0; width: 100%; min-width: 1002px;}
.oftwrap{width: 1002px; margin: 0 auto; padding: 0 0 0 0; position: relative;}

/*--------------- bl1 ------------------------*/
.oftalm .bl1{width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; position: relative; background-image: url(../imagoftalm/gbtop.jpg); background-repeat: repeat;}
.oftalm .bl1wr{width: 100%; margin: 0 0 0 0; padding: 0 0 0 0; position: relative; height: 440px; background-image: url(../imagoftalm/bg1.png); background-repeat: no-repeat; background-position: center top;}
.oftalm .bl1wr .oftwrap{height: 440px;}
.oftalm .bl1 .text{position: absolute; top: 86px; left: 0px; margin: 0 0 0 0; padding: 0 0 0 0;}
.oftalm .bl1 .text h1{color: #6da623; font-size: 44px; line-height: 43px; font-weight: normal; margin: 0 0 22px 0; padding: 0 0 0 0; font-family: 'Idealist Sans Light'; text-transform: uppercase;}
.oftalm .bl1 h1 span{font-size: 36px; color: #333;}
.oftalm .bl1 p{color: #2290ab; font-size: 21px; line-height: 32px; margin: 0 0 22px 0; padding: 0 0 0 0; font-family: 'Idealist Sans Light';}
.oftalm .bl1 .opis{margin: 0 0 0 0; padding: 20px 25px 20px 28px; font-family: 'Open Sans', sans-serif; box-sizing: border-box; width: 527px; color: #fff; font-size: 16px; line-height: 22px; border-radius: 6px; text-shadow: 1px 1px 1px rgba(35,31,32,0.33);
background-color:#92bc5b; 
    background: -moz-linear-gradient(top, #92bc5b, #76ab2f); /* Firefox 3.dg_6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#92bc5b), color-stop(100%,#76ab2f));
    /* Chrome 10+, Safari 5.dg_1+ */
    background: -webkit-linear-gradient(top, #92bc5b, #76ab2f);
    background: -o-linear-gradient(top, #92bc5b, #76ab2f); /* Opera 11.dg_10+ */
    background: -ms-linear-gradient(top, #92bc5b, #76ab2f); /* IE10 */
    background: linear-gradient(top, #92bc5b, #76ab2f); /* CSS3 */}



/*--------------- bl2 ------------------------*/
.oftalm .bl2{width: 100%; margin: 0 0 0 0; padding: 75px 0 75px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat;}
.oftalm .bl2 .ask{color: #3e3e3e; font-size: 24px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl2 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl2 .title span{color: #008bb3;}
.oftalm .bl2 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl2 h2 span{color: #008bb3;}
.oftalm .bl2 .opis{color: #333333; font-size: 16px; line-height: 24px; text-align: center; margin: 0 0 22px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}

.oftalm .bl2 .sluch{margin: 0 0 0 0; padding: 0 0 0 0; position: relative; list-style: none;}
.oftalm .bl2 .sluch > li{box-sizing: border-box; float: left; width: 50%; margin: 0 0 0 0; padding: 0 28px 0 28px; position: relative;}
.oftalm .bl2 .sluch > li .img{margin: 0 0 12px 0; padding: 0 0 0 0; height: 172px; text-align: center;}
.oftalm .bl2 .sluch > li .img img{display: block; margin: 0 auto;}
.oftalm .bl2 .sluch > li p{color: #3e3e3e; font-size: 23px; font-family: 'Idealist Sans'; margin: 0 0 18px 0; padding: 0 0 0 0; text-align: center;}

.oftalm .bl2 .sluch > li ul{margin: 0 0 0 0; padding: 0 0 0 0; position: relative; list-style: none;}
.oftalm .bl2 .sluch > li ul li{color: #333333; font-size: 16px; line-height: 20px; margin: 0 0 0 0; padding: 11px 20px 12px 57px; background-image: url(../imagoftalm/ico8.png); background-position: 16px; background-repeat: no-repeat;}
.oftalm .bl2 .sluch > li ul li:nth-of-type(odd){background-color: #f1f1f1; border-radius: 3px;}



/*--------------- bl3 ------------------------*/
.oftalm .bl3{width: 100%; margin: 0 0 0 0; padding: 50px 0 20px 0; position: relative; background: url(../imagoftalm/bg2.jpg) center bottom no-repeat;}
.oftalm .bl3 .title{color: #3e3e3e; font-size: 27px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 20px 0; padding: 0 0 0 0; text-transform: uppercase;}
.oftalm .bl3 .title span{color: #008bb3; display: inline;}

.oftalm .bl3 .onesluch{background-color: #fff; border: 1px solid #d9d9d9; border-radius: 6px; position: relative; margin: 0 0 30px 0; padding: 0 0 0 52px;}
.oftalm .bl3 .onesluch .oneslwr{border-left: 6px solid #7aae37; margin: 0 0 0 0; padding: 24px 70px 24px 54px; position: relative;}
.oftalm .bl3 .onesluch .oneslwr:before{width: 71px; height: 71px; background-image: url(../imagoftalm/ico9.png); display: block; position: absolute; top: 26px; left: -39px; content: "";}
.oftalm .bl3 .onesluch .oneslwr p{color: #333333; font-size: 16px; line-height: 26px; margin: 0 0 0 0; padding: 0 0 0 0; font-style: italic;}
.oftalm .bl3 .onesluch .oneslwr .naz{margin: 0 0 5px 0; padding: 0 0 0 0; color: #333333; font-size: 20px; line-height: normal; font-family: 'Idealist Sans Light'; font-style:normal;}
.oftalm .bl3 .onesluch .oneslwr .podp{text-align: right; font-weight: bold;}
.bl3_1{background: url(../imagoftalm/bg21.jpg) center bottom no-repeat;}
.bl3_2{background: url(../imagoftalm/bg22.jpg) center bottom no-repeat;}
.bl3_3{background: url(../imagoftalm/bg23.jpg) center bottom no-repeat;}
.bl3_4{background: url(../imagoftalm/bg24.jpg) center bottom no-repeat;}
.bl3_5{background: url(../imagoftalm/bg25.jpg) center bottom no-repeat;}
.bl3_6{background: url(../imagoftalm/bg26.jpg) center bottom no-repeat;}
.bl3_7{background: url(../imagoftalm/bg27.jpg) center bottom no-repeat;}
.oftalm .bl3_1 .onesluch .oneslwr .naz, .oftalm .bl3_2 .onesluch .oneslwr .naz{font-size: 22px;}



/*--------------- bl4 ------------------------*/
.oftalm .bl4{width: 100%; margin: 0 0 0 0; padding: 70px 0 80px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat;}
.oftalm .bl4 .ask{color: #3e3e3e; font-size: 24px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl4 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl4 .title span{color: #008bb3;}
.oftalm .bl4 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl4 h2 span{color: #008bb3;}
.oftalm .bl4 .opis{color: #333333; font-size: 16px; line-height: 24px; text-align: center; margin: 0 0 45px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}

.oftalm .bl4 .trigs{margin: 0 0 0 -35px; padding: 0 0 0 0; position: relative; list-style: none; background-image: url(../imagoftalm/bglap.png); background-position: 282px 23px; background-repeat: no-repeat;}
.oftalm .bl4 .trigs li{margin: 0 0 0 35px; padding: 0 0 0 0; float: left; width: 310px; position: relative;}
.oftalm .bl4 .trigs li .img{height: 114px; text-align: center; margin: 0 0 26px 0; padding: 0 0 0 0; position: relative;}
.oftalm .bl4 .trigs li .img img{display: block; margin: 0 auto; padding: 0 0 0 0;}
.oftalm .bl4 .trigs li .tit{margin: 0 0 18px 0; padding: 0 0 0 0; height: 76px; box-sizing: border-box; border-radius: 5px; display: table; width: 100%; border: none; border-collapse: collapse;
background-color:#40a8c6; 
    background: -moz-linear-gradient(top, #40a8c6, #0f91b7); /* Firefox 3.dg_6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#40a8c6), color-stop(100%,#0f91b7));
    /* Chrome 10+, Safari 5.dg_1+ */
    background: -webkit-linear-gradient(top, #40a8c6, #0f91b7);
    background: -o-linear-gradient(top, #40a8c6, #0f91b7); /* Opera 11.dg_10+ */
    background: -ms-linear-gradient(top, #40a8c6, #0f91b7); /* IE10 */
    background: linear-gradient(top, #40a8c6, #0f91b7); /* CSS3 */}
.oftalm .bl4 .trigs li .tit span{width: 100%; height: 76px; display: table-cell; text-align: center; vertical-align: middle; margin: 0 0 0 0; padding: 0 0 0 0; font-size: 20px; lin
26px; color: #fff; font-family: 'Idealist Sans';}
.oftalm .bl4 .trigs li .text{color: #333333; font-size: 16px; line-height: 24px; margin: 0 0 0 0; padding: 0 0 0 19px; font-family: 'Open Sans', sans-serif;}



/*--------------- bl5 ------------------------*/
.oftalm .bl5wr{width: 100%; margin: 0 0 0 0; padding: 0px 0 0px 0; position: relative; background: url(../imagoftalm/bg7.jpg) center top no-repeat;}
.oftalm .bl5{width: 100%; margin: 0 0 0 0; padding: 70px 0 80px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat;}
.oftalm .bl5 .ask{color: #3e3e3e; font-size: 24px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl5 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl5 .title span{color: #008bb3;}
.oftalm .bl5 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl5 h2 span{color: #008bb3;}
.oftalm .bl5 .opis{color: #333333; font-size: 25px; line-height: 32px; text-align: center; margin: 0 0 15px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}
.oftalm .bl5 .opis span{color: #1393b8;}

.oftalm .bl5 .prich{margin: 0 0 0 0; padding: 0 37px 0 5px; position: relative; list-style: none;}
.oftalm .bl5 .prich li{margin: 0 0 0 0; padding: 30px 0 35px 140px; position: relative; border-bottom:1px solid #e5e5e5; background-position: 13px 35px; background-repeat: no-repeat;}
.oftalm .bl5 .prich li:last-child{border-bottom: none;}
.oftalm .bl5 .prich li:nth-of-type(1){background-image: url(../imagoftalm/ico13.png);}
.oftalm .bl5 .prich li:nth-of-type(2){background-image: url(../imagoftalm/ico14.png);}
.oftalm .bl5 .prich li:nth-of-type(3){background-image: url(../imagoftalm/ico15.png);}
.oftalm .bl5 .prich li:nth-of-type(4){background-image: url(../imagoftalm/ico16.png);}
.oftalm .bl5 .prich li:nth-of-type(5){background-image: url(../imagoftalm/ico17.png);}
.oftalm .bl5 .prich li .nomb{color: #3e3e3e; font-size: 20px; line-height: normal; text-transform: uppercase; margin: 0 0 0 0; padding: 0 0 0 0; font-family: 'Idealist Sans Light';}
.oftalm .bl5 .prich li .tit{color: #008bb3; font-size: 28px; line-height: normal; margin: 0 0 0 0; padding: 0 0 0 0; font-family: 'Idealist Sans Light';}
.oftalm .bl5 .prich li .text{color: #333333; font-size: 16px; line-height: 24px; margin: 0 0 0 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}



/*--------------- bl6 ------------------------*/
.oftalm .bl6wr{width: 100%; margin: 0 0 0 0; padding: 0px 0 0px 0; position: relative; background: url(../imagoftalm/bg3.jpg) center top no-repeat; height: 420px;}
.oftalm .bl6{width: 100%; margin: 0 0 0 0; padding: 110px 0 0px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat; height: 420px; box-sizing: border-box;}
.oftalm .bl6 .oftwrap{padding: 0 0 0 478px; box-sizing: border-box;}
.oftalm .bl6 .ask{color: #3e3e3e; font-size: 24px; text-align: left; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl6 .title{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: left; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl6 .title span{color: #008bb3;}
.oftalm .bl6 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: left; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl6 h2 span{color: #008bb3;}
.oftalm .bl6 .opis{color: #333333; font-size: 16px; line-height: 24px; text-align: left; margin: 0 0 45px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}



/*--------------- bl7 ------------------------*/
.oftalm .bl7{width: 100%; margin: 0 0 0 0; padding: 70px 0 73px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat;}
.oftalm .bl7 .ask{color: #3e3e3e; font-size: 24px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl7 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl7 .title span{color: #008bb3;}
.oftalm .bl7 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl7 h2 span{color: #008bb3;}
.oftalm .bl7 .opis{color: #333333; font-size: 25px; line-height: 32px; text-align: center; margin: 0 0 30px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}
.oftalm .bl7 .opis span{color: #1393b8;}

.oftalm .bl7 .if{margin: 0 0 0 0; padding: 0 0 0 0; list-style: none; position: relative;}
.oftalm .bl7 .if li{position: relative; float: left; width: 50%; margin: 0 0 0 0; padding: 0 42px 0 59px; box-sizing: border-box;}
.oftalm .bl7 .if li .oneif{border: 1px solid #d9d9d9; border-radius: 5px; margin: 0 0 0 0; padding: 0 50px 0 50px; position: relative; height: 85px; display: table; width: 100%; box-sizing: border-box;}
.oftalm .bl7 .if li .oneif:before{position: absolute; display: block; margin: 0 0 0 0; padding: 0 0 0 0; content: ""; width: 71px; height: 71px; background-image: url(../imagoftalm/ico18.png); left: -36px; top: 7px;}
.oftalm .bl7 .if li:nth-of-type(2) .oneif:before{background-image: url(../imagoftalm/ico19.png);}
.oftalm .bl7 .if li .oneif p{display: table-cell; height: 85px; vertical-align: middle; color: #333333; font-size: 16px; line-height: 22px; font-family: 'Open Sans', sans-serif;}



/*--------------- bl8 ------------------------*/
.oftalm .bl8{width: 100%; margin: 0 0 0 0; padding: 60px 0 72px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat;}
.oftalm .bl8 .ask{color: #3e3e3e; font-size: 24px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl8 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl8 .title span{color: #008bb3;}
.oftalm .bl8 h2{color: #3e3e3e; font-size: 38px; font-weight: normal; line-height: 44px; text-align: center; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl8 h2 span{color: #008bb3;}
.oftalm .bl8 .opis{color: #333333; font-size: 25px; line-height: 32px; text-align: center; margin: 0 0 30px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}
.oftalm .bl8 .opis span{color: #1393b8;}

.oftalm .bl8 .prich1{margin: 0 0 0 -24px; padding: 0 0 0 0; list-style: none; position: relative;}
.oftalm .bl8 .prich1 li{margin: 0 0 29px 22px; padding: 0 0 0 0; float: left; position: relative;}
.oftalm .bl8 .prich1 li:nth-of-type(1){width: 212px;}
.oftalm .bl8 .prich1 li:nth-of-type(2){width: 164px;}
.oftalm .bl8 .prich1 li:nth-of-type(3){width: 179px;}
.oftalm .bl8 .prich1 li:nth-of-type(4){width: 169px;}
.oftalm .bl8 .prich1 li:nth-of-type(5){width: 184px;}
.oftalm .bl8 .prich1 li .img{margin: 0 0 22px 0; padding: 0 0 0 0; text-align: center; height: 71px; position: relative;}
.oftalm .bl8 .prich1 li .img img{margin: 0 auto; padding: 0 0 0 0; height: 71px;}
.oftalm .bl8 .prich1 li .text{border: 1px solid #e7e4e4; border-radius: 5px; margin: 0 0 0 0; padding: 0 5px 0 5px; position: relative; height: 104px; display: table; width: 100%; box-sizing: border-box;}
.oftalm .bl8 .prich1 li .text p{display: table-cell; margin: 0 0 0 0; padding: 0 0 0 0; height: 102px; text-align: center; vertical-align: middle; color: #333333; font-size: 16px; line-height: 22px; font-family: 'Open Sans', sans-serif;}

.oftalm .bl8 .atent{border: none; border-radius: 5px; margin: 0 0 0 0; padding: 0 147px 0 47px; position: relative; height: 92px; display: table; width: 100%; box-sizing: border-box;
    color: #fff; font-family: 'Idealist Sans Light'; font-size: 20px; line-height: 25px;
    background-color:#49acc8; 
    background: -moz-linear-gradient(top, #49acc8, #1a96ba); /* Firefox 3.dg_6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#49acc8), color-stop(100%,#1a96ba));
    /* Chrome 10+, Safari 5.dg_1+ */
    background: -webkit-linear-gradient(top, #1a96ba, #0f91b7);
    background: -o-linear-gradient(top, #49acc8, #1a96ba); /* Opera 11.dg_10+ */
    background: -ms-linear-gradient(top, #49acc8, #1a96ba); /* IE10 */
    background: linear-gradient(top, #49acc8, #1a96ba); /* CSS3 */
}
.oftalm .bl8 .atent span{display: table-cell; margin: 0 0 0 0; padding: 0 0 0 88px; position: relative;  box-sizing: border-box; height: 92px; background-image: url(../imagoftalm/ico25.png); background-position: left; background-repeat: no-repeat; vertical-align: middle;}



/*--------------- bl9 ------------------------*/
.oftalm .bl9wr{width: 100%; margin: 0 0 0 0; padding: 0px 0 0px 0; position: relative; background: url(../imagoftalm/bg6.jpg) center top no-repeat; height: 409px;}
.oftalm .bl9{width: 100%; margin: 0 0 0 0; padding: 60px 0 0px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat; height: 409px; box-sizing: border-box;}
.oftalm .bl9 .oftwrap{padding: 0 0 0 478px; box-sizing: border-box;}
.oftalm .bl9 .ask{color: #3e3e3e; font-size: 24px; text-align: left; font-family: 'Idealist Sans Light'; margin: 0 0 10px 0; padding: 0 0 0 0;}
.oftalm .bl9 .title{color: #3e3e3e; font-size: 38px; line-height: 44px; text-align: left; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl9 .title span{color: #008bb3;}
.oftalm .bl9 h2{color: #3e3e3e; font-size: 38px; line-height: 44px; font-weight: normal; text-align: left; font-family: 'Idealist Sans'; margin: 0 0 12px 0; padding: 0 0 0 0;}
.oftalm .bl9 h2 span{color: #008bb3;}
.oftalm .bl9 .opis{color: #333333; font-size: 16px; line-height: 24px; text-align: left; margin: 0 0 45px 0; padding: 0 0 0 0; font-family: 'Open Sans', sans-serif;}

.header_right_top { font-family: 'Idealist Sans Light'; }


/*--------------- bl10 ------------------------*/
.oftalm .bl10wr{width: 100%; margin: 0 0 0 0; padding: 0px 0 0px 0; position: relative; background: url(../imagoftalm/bg4.jpg) center top no-repeat; height: 740px;}
.oftalm .bl10{width: 100%; margin: 0 0 0 0; padding: 50px 0 0px 0; position: relative; background: url(../imagoftalm/shadow.png) center top no-repeat, url(../imagoftalm/shadow1.png) center bottom no-repeat; height: 740px; box-sizing: border-box;}
.oftalm .bl10 .oftwrap{padding: 0 426px 0 0; box-sizing: border-box;}
.oftalm .bl10 .title{color: #3e3e3e; font-size: 38px; line-height: 41px; text-align: left; font-family: 'Idealist Sans'; margin: 0 0 20px 0; padding: 0 0 0 0;}
.oftalm .bl10 .title span{color: #008bb3; font-size: 38px;}
.oftalm .bl10 .opis{color: #333333; font-size: 21px; line-height: 27px; text-align: left; margin: 0 0 10px 0; padding: 0 0 0 0; font-family: 'Idealist Sans Light';}
.oftalm .bl10 .opis span{color: #0095c0;}
.oftalm .bl10 .fortel{margin: 0 0 0 35px; padding: 5px 0 25px 79px; position: relative; background-image: url(../imagoftalm/ico26.png); background-repeat: no-repeat; background-position: left;}
.oftalm .bl10 .fortel p{color: #008bb3; font-size: 24px; margin:0 0 0 0; padding: 10px 0 0 0; font-family: 'Idealist Sans'; line-height: normal;}
.oftalm .bl10 .fortel .tel{color: #333333; font-size: 38px; font-family: 'Idealist Sans'; margin: 0 0 0 0; padding: 0 0 0 0; line-height: normal;}

.oftalm .bl10 .form{background-color: #dff1f2; margin: 0 0 0 0; padding:0 0 27px 0; position: relative; width: 512px; border-radius: 5px;}
.oftalm .bl10 .form .name{color: #333333; font-size: 23px; line-height: 27px; font-family: 'Idealist Sans'; margin: 0 0 19px 0; padding: 20px 0 20px 0; border-radius: 5px 5px 0px 0px; color: #fff; text-align: center; text-shadow: 1px 1px 1px rgba(35,31,32,0.33); text-transform: uppercase;
background-color:#3ba6c5; 
    background: -moz-linear-gradient(top, #3ba6c5, #098eb5); /* Firefox 3.dg_6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#3ba6c5), color-stop(100%,#098eb5));
    /* Chrome 10+, Safari 5.dg_1+ */
    background: -webkit-linear-gradient(top, #3ba6c5, #098eb5);
    background: -o-linear-gradient(top, #3ba6c5, #098eb5); /* Opera 11.dg_10+ */
    background: -ms-linear-gradient(top, #3ba6c5, #098eb5); /* IE10 */
    background: linear-gradient(top, #3ba6c5, #098eb5); /* CSS3 */
}
.oftalm .bl10 .form input[type='text']{width: 216px; height: 47px; margin: 0 0 20px 26px; padding: 0 16px 0 16px; float: left; display: block; background-color: #fff; border: none; outline: none; border-radius: 5px; box-sizing: border-box; color: #333333; font-size: 16px; font-family: 'Open Sans', sans-serif; font-style: italic;}
.oftalm .bl10 .form .submit{display: block; margin: 0 auto; padding: 0 0 0 0; width: 203px; height: 48px; text-align: center; text-transform: uppercase; cursor: pointer; border: 1px solid #82be1d; outline: none; border-radius: 5px; box-sizing: border-box; color: #fff; font-size: 24px; font-family: 'Idealist Sans'; text-shadow: 1px 1px 1px rgba(35,31,32,0.33);
background-color:#8bca21; 
    background: -moz-linear-gradient(top, #8bca21, #6ca708); /* Firefox 3.dg_6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#8bca21), color-stop(100%,#6ca708));
    /* Chrome 10+, Safari 5.dg_1+ */
    background: -webkit-linear-gradient(top, #8bca21, #6ca708);
    background: -o-linear-gradient(top, #8bca21, #6ca708); /* Opera 11.dg_10+ */
    background: -ms-linear-gradient(top, #8bca21, #6ca708); /* IE10 */
    background: linear-gradient(top, #8bca21, #6ca708); /* CSS3 */    
}



/*--------------- bl11 ------------------------*/
.oftalm .bl11{
    width: 100%; 
    margin: 0 0 0 0; 
    padding: 50px 0 19px 0; 
    position: relative;
    background: none;
    background-color: transparent;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e6e6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e6e6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e1e6e6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e1e6e6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e1e6e6 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e6e6',GradientType=0 );
}
.oftalm .bl11 .title{color: #333333; font-size: 35px; text-align: center; font-family: 'Idealist Sans Light'; margin: 0 0 30px 0; padding: 0 0 0 0;}
.oftalm .bl11 .title span{color: #008bb3; display: inline; font-size: 35px;}
.oftalm .bl11 .stat{margin: 0 0 0 -30px; padding: 0 0 0 0; position: relative; list-style: none;}
.oftalm .bl11 .stat li{margin: 0 0 33px 30px; padding: 17px 15px 15px 16px; float: left; width: 485px; box-sizing: border-box; border: 1px solid #dedede; border-radius: 20px; position: relative;}
.oftalm .bl11 .stat li .img{width: 170px; position: relative; float: left; margin: 0 0 0 0; padding: 0 19px 0 0;}
.oftalm .bl11 .stat li .text{width: 263px; float: left; position: relative; margin: 0 0 0 0; padding: 0 0 0 0;}
.oftalm .bl11 .stat li .text .tit{margin: 0 0 8px 0; padding: 0 0 0 0; font-size: 15px; line-height: 21px; color: #1d8aac; font-family: 'Idealist Sans';}
.oftalm .bl11 .stat li .text .tit a{color: #1d8aac; text-decoration: none;}
.oftalm .bl11 .stat li .text .tit a:hover{text-decoration: underline;}
.oftalm .bl11 .stat li .text p{margin: 0 0 0 0; padding: 0 0 0 0; font-size: 12px; line-height: 16px; color: #4b4b4b; font-family: 'Idealist Sans';}