@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('AvenirNextCyr-Regular.eot');
  src: url('AvenirNextCyr-Regular.woff') format('woff'),
       url('AvenirNextCyr-Regular.ttf') format('truetype'),
       url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

