.wrap-cost-width {
    text-align: left;
    margin-top: 15px;
	    margin-bottom: 30px;
}

.cost-c-width {
    margin: 0 auto;
    width: auto;
    margin: 5px 10px 0 12px;
    background: #fff;
    position: relative
}

.img-wrap img {
    max-width: 100%
}

.img-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120px;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block
}

.cost-c-width-checked .img-wrap {
    border: 1px solid #fa1a01
}

.cost-c-width:hover .img-wrap {
    border: 1px solid #fa1a01;
    cursor: pointer
}

input[name=cost] {
    display: none
}

.cost-c-width img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto
}

.cost-c-width>p {
    color: #757575;
    display: block;
    text-align: center;
    position: absolute;
    left: 11px;
    width: 166px;
    bottom: 12px
}

.cost-content-l,.cost-content-r {
    width: 410px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    margin-top: 30px;
    height: 416px
}

.wrap-cost-width label {
    display: block;
    float: left;
    width: 20%
}

.cost-content-r {
    float: right
}

.cost-content-l {
    padding: 20px 0;
    float: left;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    background: #fff;
    width: 580px;
    margin: 30px 0 0 10px
}

.cost-content-l .img {
    display: table-cell;
    height: 240px;
    vertical-align: middle;
    text-align: center;
    width: 600px
}

/***********************************/

.calc .maintitle {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0
}

.calc-title {
    font-size: 42.5px;
    text-align: center
}

.calc-title span {
    font-size: 26px;
    display: block;
    margin-top: 10px;
    text-align: left
}

.file-info-span {
    display: block;
    color: #7a7a7a;
    font-size: 14px;
    margin: 5px 0
}

.noUiSlider,.noUiSlider * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    cursor: default
}

.noUiSlider {
    position: relative
}

.noUiSlider a {
    position: absolute;
    z-index: 1
}

.noUiSlider a:nth-child(2) {
    background: inherit!important
}

.noUiSlider.vertical a {
    width: 100%;
    bottom: 0
}

.noUiSlider.horizontal a {
    height: 100%;
    right: 0
}

.noUiSlider.connect a,.noUiSlider.connect.lower {
    background: #dcdada
}

.noUiSlider,.noUiSlider.connect.lower a {
    background: #fa1a01
}

.noUiSlider.disabled,.noUiSlider.disabled.connect.lower a {
    background: #ccc
}

.noUiSlider div {
    height: 20px;
    width: 20px;
    border: none;
    color: #640002;
    color: #640002;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(99,69,48,.35);
    font-size: 24px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAANlBMVEXd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0dfdX/AAAAEnRSTlMAAWJlFIErcg4zLh4tKBIdcwv1RwslAAAAKUlEQVR4XiXFxwEAEAADwBC9239Zwn0O3uCqeIUIKUwqW6far3OoubY6Dl8ApF5muZsAAAAASUVORK5CYII=),-webkit-gradient(linear,left top,left bottom,color-stop(20%,#640002),color-stop(100%,#640002));
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAANlBMVEXd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0dfdX/AAAAEnRSTlMAAWJlFIErcg4zLh4tKBIdcwv1RwslAAAAKUlEQVR4XiXFxwEAEAADwBC9239Zwn0O3uCqeIUIKUwqW6far3OoubY6Dl8ApF5muZsAAAAASUVORK5CYII=),-webkit-linear-gradient(top,#640002 20%,#640002 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAANlBMVEXd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0dfdX/AAAAEnRSTlMAAWJlFIErcg4zLh4tKBIdcwv1RwslAAAAKUlEQVR4XiXFxwEAEAADwBC9239Zwn0O3uCqeIUIKUwqW6far3OoubY6Dl8ApF5muZsAAAAASUVORK5CYII=),-o-linear-gradient(top,#640002 20%,#640002 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAANlBMVEXd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0dfdX/AAAAEnRSTlMAAWJlFIErcg4zLh4tKBIdcwv1RwslAAAAKUlEQVR4XiXFxwEAEAADwBC9239Zwn0O3uCqeIUIKUwqW6far3OoubY6Dl8ApF5muZsAAAAASUVORK5CYII=),-webkit-gradient(linear,left top,left bottom,color-stop(20%,#640002),to(#640002));
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAANlBMVEXd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0dfdX/AAAAEnRSTlMAAWJlFIErcg4zLh4tKBIdcwv1RwslAAAAKUlEQVR4XiXFxwEAEAADwBC9239Zwn0O3uCqeIUIKUwqW6far3OoubY6Dl8ApF5muZsAAAAASUVORK5CYII=),linear-gradient(to bottom,#640002 20%,#640002 100%);
    -webkit-box-shadow: 0 1px .92px .08px rgba(28,23,17,.45);
    box-shadow: 0 1px .92px .08px rgba(28,23,17,.45);
    cursor: pointer
}

.noUiSlider.disabled div {
    background: 0 0
}

.noUiSlider.horizontal {
    width: 272px;
    height: 10px
}

.noUiSlider.horizontal div {
    margin: -5px 0 0 -9px
}

.noUiSlider.vertical {
    width: 10px;
    height: 257px
}

.noUiSlider.vertical div {
    margin: -9px 0 0 -5px
}

.noUiSlider .ll {
    width: 20px;
    height: 10px;
    background: #fa1a01;
    font-size: 0;
    position: absolute;
    top: 5px;
    border: 0;
    left: 1px;
    cursor: default;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.noUiSlider .rr {
    width: 19px;
    height: 10px;
    background: #dcdada;
    font-size: 0;
    position: absolute;
    top: 5px;
    border: 0;
    right: -10px;
    cursor: default;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.noUiSlider .tt {
    width: 10px;
    height: 20px;
    background: #fa1a01;
    font-size: 0;
    position: absolute;
    top: 1px;
    left: 5px;
    border: 0;
    cursor: default;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.noUiSlider .bb {
    width: 10px;
    height: 19px;
    background: #dcdada;
    font-size: 0;
    position: absolute;
    bottom: -10px;
    left: 5px;
    border: 0;
    cursor: default;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none
}

.selectsm {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 51%
}

.selectsm div {
    display: table-cell;
    margin: 0;
    padding: 1px;
    cursor: pointer;
    float: none;
    z-index: 1
}

.selectsm div span {
    display: block;
    font-size: 11px;
    background: #ebebeb;
    padding: 5px;
    text-align: center;
    margin: 1px 0 0
}

.selectsm div.on {
    outline: 5px solid #ffc20e;
    z-index: 1;
    position: relative
}

#calc_form ul.col2 .selectsm {
    position: relative;
    display: table;
    table-layout: fixed;
    margin-top: 7px;
    width: 100%
}

#calc_form ul.col2 .selectsm div {
    display: table-cell;
    margin: 0;
    padding: 1px;
    cursor: pointer;
    float: none;
    z-index: 1
}

.selects {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 215px;
    z-index: 3;
    margin: 20px 0 0 1px
}

.selects .calc_help {
    position: absolute;
    z-index: 1;
    top: -44px;
    display: none;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
    cursor: pointer
}

.selects .img {
    position: absolute;
    top: 30px;
    margin: 0;
    min-width: 236px;
    min-height: 157px;
    right: 113px;
    width: auto;
}

.selects .img img {
    width: 397px
}

.selects .h {
    width: 394px;
    left: 129px;
    text-align: center;
    position: absolute;
    padding: 0 0 0;
    top: 0;
    font-family: arial;
    font-size: 14px
}

.selects .h .text {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: -28px;
    left: 50%;
    margin-left: -54px;
    font: 16px/24px;
    letter-spacing: -1px;
    color: #1e1e1e
}

.noUiSlider.horizontal {
    width: 319px
}

.selects .h .l {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -60px top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: -38px;
    top: -10px;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .h .l:active {
    opacity: .8
}

.selects .h .r {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -90px top no-repeat;
    color: #ffc20e;
    position: absolute;
    right: 35px;
    top: -10px;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .h .r:active {
    opacity: .8
}

.selects .b {
    width: 396px;
    text-align: center;
    position: absolute;
    padding: 10px 0 0;
    font-family: arial;
    font-size: 14px;
    left: 126px;
    bottom: -122px
}

.selects .b .text {
    z-index: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -55px;
    font: 16px/24px;
    letter-spacing: -1px;
    color: #1e1e1e
}

.selects .b .l {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -60px top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: -38px;
    top: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .b .l:active {
    opacity: .8
}

.selects .b .r {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -90px top no-repeat;
    color: #ffc20e;
    position: absolute;
    right: 35px;
    top: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .b .r:active {
    opacity: .8
}

.selects .vl {
    width: 50px;
    text-align: center;
    position: absolute;
    padding: 0 0 0 10px;
    font-family: arial;
    font-size: 14px;
    left: 58px;
    top: 67px
}

.noUiSlider.vertical {
    width: 10px;
    height: 208px
}

.selects .vl .text {
    z-index: 1;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 100px;
    left: -58px;
    width: 65px;
    font: 16px/24px;
    letter-spacing: -1px;
    color: #1e1e1e
}

.selects .b .text input,.selects .vl .text input,.selects .vr .text input,body .selects .h .text input {
    width: 32px;
    text-align: center;
    font: 16px/24px;
    letter-spacing: -1px;
    border: 1px solid #d6d6d6;
    padding: 3px 3px;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #1e1e1e
}

.cost-content-block .text {
    position: relative
}

.cost-content-block .text::after {
    content: 'см';
    margin-left: 2px
}

.selects .vl .l {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) 0 top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: 0;
    top: -38px;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .vl .l:active {
    opacity: .8
}

.selects .vl .r {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -30px top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: 0;
    bottom: -40px;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .vl .r:active {
    opacity: .8
}

.selects .vr {
    width: 50px;
    text-align: center;
    position: absolute;
    padding: 0 0 0 10px;
    font-family: arial;
    font-size: 14px;
    right: 29px;
    top: 68px
}

.selects .vr .text {
    z-index: 1;
    width: 65px;
    font: 16px/24px;
    letter-spacing: -1px;
    color: #1e1e1e;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    top: 100px;
    right: -30px
}

.selects .vr .l {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) 0 top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: 0;
    top: -38px;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .vr .l:active {
    opacity: .8
}

.selects .vr .r {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #2c2623 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAeAQMAAADdB0jWAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAGBJREFUGBm9wDERAjAMAMBvyJCBoYeC4iTSIp2RGoD3N0G6JOFSLJeNwQNw0MhRksZBtVQMNvYRtgWFsy1HQKKLaQGJSXosKJbgjcEmLF5oHMATB+1rY3wVyyUJlyD93AeULggUZE+/FAAAAABJRU5ErkJggg==) -30px top no-repeat;
    color: #ffc20e;
    position: absolute;
    left: 0;
    bottom: -40px;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.selects .b .l,.selects .b .r,.selects .h .l,.selects .h .r,.selects .vl .l,.selects .vl .r,.selects .vr .l,.selects .vr .r {
    background-image: none
}

.selects .vr .r:active {
    opacity: .8
}

.pref-hide-gal {
    display: none!important
}

.wrap-block .c-block .quadro {
    margin-bottom: -15px;
    color: #000;
    text-transform: lowercase
}

.cost-c-width {
    margin: 0 auto;
    width: auto;
    margin: 5px 10px 0 12px;
    background: #fff;
    position: relative;
}
.cost-content-block {
    margin: 0 auto
}

.cost-block-select {
    color: #1e1e1e;
    font: 18px/24px
}

.s-calc .img-wrap {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: auto;
    height: auto;
    line-height: 150px;
    vertical-align: middle
}

.s-calc .img-wrap img {
    max-width: 100%
}
.cost-c-width img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.s-calc .cost-c-width>p {
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 100%;
    bottom: auto;
    left: auto;
    margin-top: 10px
}

.s-calc .cost-content-l {
    padding-left: 0;
    padding-right: 0
}

.s-calc .form-control {
    margin-bottom: 15px
}

.s-calc .title {
    padding-left: 45px;
    position: relative;
    padding-bottom: 10px;
	font-size: 1.2rem;
}

.s-calc .title span {
    position: absolute;
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 30px;
    color: #fff;
    left: 0;
    background-color: #18b2c0;
    text-align: center;
    top: -8px
}

.s-calc .cost-content-l {
    margin-top: 0
}

.s-calc .cost-content-r {
    margin-top: 10px
}

.s-calc .cost-block-wrap {
    padding-bottom: 0;
	    text-align: left;
}

.s-calc .cost-c-width {
    background-color: transparent
}

.s-calc{
	padding :30px;
	max-width:1140px;
	margin:50px auto 0;
	background:#fff;
}

form[name=form-file] select {
    width: 100%;
    height: 32px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #505050;
    font: 14px Arial,sans-serif;
	margin-bottom:15px;
}

form[name=form-file] input[type=text]:focus,form[name=form-file] select:focus,form[name=form-file] textarea:focus,input[type=email]:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(83,167,236,.075),0 0 8px rgba(83,167,236,.8);
    box-shadow: inset 0 1px 1px rgba(83,167,236,.075),0 0 8px rgba(83,167,236,.8);
    outline: 0
}

.tech-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.mob-text-calc, .mob-title-calc {
    display: none;
}

.small, small {
    font-weight: 400;
	text-align:left;
	    display: inline-block;
    margin: 10px 0;
}
.tech-block.biger {
    width: 60%;
}
.tech-block {
    width: 40%;
    float: left;
    line-height: 1.5;
	    font-size: 114%;
}
.close-zz { 
    float: right;
    font-size: 19px;
    background: #f7aeae;
    padding: 2px 10px 5px;
    cursor: pointer;
}

#myModal-x .h2{
	font-size:1.33rem;
}
#myModal-x  .h5,#myModal-x  h5 {
    font-size: 1.08rem;
}
#myModal-x .strong,#myModal-x strong {
    font-weight: 700;
}

#s-calc{
	margin-top: 28px;
}



@media (max-width: 1199.98px){
	.selects .img img {
    width: 355px;
	}
}



@media (max-width: 991.98px){
	
	.s-calc .selects .b, .s-calc .selects .h {
		left: 50%;
		margin-left: -165px;
	}
	.s-calc .selects .img {
    left: 50%;
    right: auto;
    margin-left: -175px;
	}

	.s-calc .cost-content-r {
    margin-top: 30px;
	}
}

@media (max-width: 767.98px){
	.s-calc .selects .vl {
		left: 45px;
	}
	.s-calc .selects .img {
    margin-left: -150px;
	}
	.s-calc .selects .img img {
    width: 300px;
    margin-top: 20px;
	}
	
	.s-calc .wrap-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
	}
	.s-calc .wrap-cost-width label {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33%;
	}
	.s-calc .cost-c-width {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
	}
}

@media (max-width: 575.98px){
	.s-calc .cost-content-l {
		zoom: 74%;
	}
	.s-calc .wrap-cost-width label {
    width: 50%;
    margin-bottom: 0;
	}
	.s-calc .tech-block {
    width: 100%!important;
	}
	#myModal-x .btn-main {
		font-size:0.9rem;
	}
}

@media (max-width: 374.98px) {
    .s-calc .cost-content-l {
        zoom:54%
    }
}

