.photosgallery-std{width:700px; height:414px; padding:0 0 81px;}

/* Navbar */
.photosgallery-std .sliderkit-nav{left:0; bottom:0; width:700px; background:#000; padding-top: 13px; border-top: 3px solid #373737;}
.photosgallery-std .sliderkit-nav-clip ul li{display: inline-block; margin-right: 11px;}
.photosgallery-std .sliderkit-nav-clip ul li a{display:block; width:107px; height:63px; overflow:hidden;}
.photosgallery-std .sliderkit-nav-clip ul li.sliderkit-selected a canvas{display: none !important;}

/* Panels buttons */
.photosgallery-std .sliderkit-go-btn{position:absolute;top:200px;z-index:10;width:32px;height:32px;}
.photosgallery-std .sliderkit-go-prev{left:-16px;}
.photosgallery-std .sliderkit-go-next{right:-16px;}
.photosgallery-std .sliderkit-go-btn a{display:block;width:32px;height:32px;cursor:pointer;}
.photosgallery-std .sliderkit-go-prev a{background: transparent url("../images/product-slider-nav.png") no-repeat 0 0;}
.photosgallery-std .sliderkit-go-next a{background: transparent url("../images/product-slider-nav.png") no-repeat -32px 0}


/* Panel */
.photosgallery-std .sliderkit-panel{top:0;left:0;width:700px;height:414px;}
