.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(82/10)*1rem;
	width:(66/82)*1em;
}
.icon-del {
	font-size:(53/10)*1rem;
	width:(40/53)*1em;
}
.icon-download {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-edit {
	font-size:(497.56/10)*1rem;
	width:(500/497.56)*1em;
}
.icon-logo {
	font-size:(24/10)*1rem;
	width:(225/24)*1em;
}
.icon-open {
	font-size:(82/10)*1rem;
	width:(66/82)*1em;
}
.icon-print {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
