.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-l {
	font-size:(477.17/10)*1rem;
	width:(252.15/477.17)*1em;
}
.icon-head-1 {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-head-2 {
	font-size:(17/10)*1rem;
	width:(25/17)*1em;
}
.icon-head-3 {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-head-4 {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-head-5 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-head-6 {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-head-7 {
	font-size:(17/10)*1rem;
	width:(25/17)*1em;
}
.icon-head-8 {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
.icon-soc-1 {
	font-size:(97.75/10)*1rem;
	width:(97.75/97.75)*1em;
}
.icon-soc-2 {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-soc-3 {
	font-size:(97.75/10)*1rem;
	width:(97.75/97.75)*1em;
}
