
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-work-4:before { content: '\e802'; } /* '' */
.icon-work-3:before { content: '\e803'; } /* '' */
.icon-work-2:before { content: '\e804'; } /* '' */
.icon-work-1:before { content: '\e805'; } /* '' */
.icon-preim-4:before { content: '\e806'; } /* '' */
.icon-preim-3:before { content: '\e807'; } /* '' */
.icon-preim-2:before { content: '\e808'; } /* '' */
.icon-preim-1:before { content: '\e809'; } /* '' */
.icon-i-tel:before { content: '\e80a'; } /* '' */
.icon-up-dir:before { content: '\e80b'; } /* '' */
.icon-chek:before { content: '\e80c'; } /* '' */