.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-left {
	font-size:(500/10)*1rem;
	width:(187.5/500)*1em;
}
.icon-angle-right {
	font-size:(500/10)*1rem;
	width:(187.5/500)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
