.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-down {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-angle-left {
	font-size:(500/10)*1rem;
	width:(187.5/500)*1em;
}
.icon-angle-right {
	font-size:(500/10)*1rem;
	width:(187.5/500)*1em;
}
.icon-angle-up {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-calendar {
	font-size:(295/10)*1rem;
	width:(307.23/295)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-facebook-f {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-filter {
	font-size:(305/10)*1rem;
	width:(398/305)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-logo {
	font-size:(97.06/10)*1rem;
	width:(175.14/97.06)*1em;
}
.icon-purse {
	font-size:(146/10)*1rem;
	width:(183/146)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-times {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-user {
	font-size:(199.92/10)*1rem;
	width:(200.12/199.92)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
