.tooltipster-light {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
    background: rgba(0,0,0,0.5);
    padding: 8px 26px;
    margin: -10px 0 0 0;
    border-radius: 3px;
}
.tooltipster-light .tooltipster-content {

    color: #fff;
    font-size: 15px;
    font-family: 'Ubuntu';
    white-space: nowrap;
    line-height: 20px;


}