.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-box {
	font-size:(278.87/10)*1rem;
	width:(290.05/278.87)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-close {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-map {
	font-size:(488.92/10)*1rem;
	width:(326/488.92)*1em;
}
.icon-search {
	font-size:(460.46/10)*1rem;
	width:(460.44/460.46)*1em;
}
.icon-toggle {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
