.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-about-i-1 {
	font-size:(470/10)*1rem;
	width:(390.32/470)*1em;
}
.icon-about-i-2 {
	font-size:(478.2/10)*1rem;
	width:(464.85/478.2)*1em;
}
.icon-about-i-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-about-i-4 {
	font-size:(500/10)*1rem;
	width:(499.21/500)*1em;
}
.icon-about-i-5 {
	font-size:(500/10)*1rem;
	width:(473.63/500)*1em;
}
.icon-about-i-6 {
	font-size:(316.28/10)*1rem;
	width:(500/316.28)*1em;
}
.icon-advantages-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-advantages-2 {
	font-size:(315.54/10)*1rem;
	width:(500/315.54)*1em;
}
.icon-advantages-3 {
	font-size:(40/10)*1rem;
	width:(64/40)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
