.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-r {
	font-size:(110/10)*1rem;
	width:(37/110)*1em;
}
.icon-check {
	font-size:(80.43/10)*1rem;
	width:(109.67/80.43)*1em;
}
.icon-clock {
	font-size:(31.06/10)*1rem;
	width:(31.06/31.06)*1em;
}
.icon-fb {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-mail {
	font-size:(22.05/10)*1rem;
	width:(31.01/22.05)*1em;
}
.icon-map {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-map2 {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-phone {
	font-size:(59.99/10)*1rem;
	width:(58.01/59.99)*1em;
}
.icon-youtube {
	font-size:(34.02/10)*1rem;
	width:(34.02/34.02)*1em;
}
