.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-advan-1 {
	font-size:(62/10)*1rem;
	width:(50/62)*1em;
}
.icon-advan-2 {
	font-size:(50/10)*1rem;
	width:(58/50)*1em;
}
.icon-advan-3 {
	font-size:(51/10)*1rem;
	width:(50/51)*1em;
}
.icon-arr-left {
	font-size:(17/10)*1rem;
	width:(10/17)*1em;
}
.icon-arr-right {
	font-size:(17/10)*1rem;
	width:(9/17)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-right-arrow {
	font-size:(12/10)*1rem;
	width:(17/12)*1em;
}
.icon-telegram {
	font-size:(25/10)*1rem;
	width:(28/25)*1em;
}
.icon-whatsapp {
	font-size:(27/10)*1rem;
	width:(26/27)*1em;
}
.icon-why-1 {
	font-size:(34/10)*1rem;
	width:(29/34)*1em;
}
.icon-why-10 {
	font-size:(37/10)*1rem;
	width:(33/37)*1em;
}
.icon-why-2 {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon-why-3 {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon-why-4 {
	font-size:(34/10)*1rem;
	width:(31/34)*1em;
}
.icon-why-5 {
	font-size:(33/10)*1rem;
	width:(34/33)*1em;
}
.icon-why-6 {
	font-size:(35/10)*1rem;
	width:(36/35)*1em;
}
.icon-why-7 {
	font-size:(30/10)*1rem;
	width:(41/30)*1em;
}
.icon-why-8 {
	font-size:(36/10)*1rem;
	width:(31/36)*1em;
}
.icon-why-9 {
	font-size:(37/10)*1rem;
	width:(31/37)*1em;
}
