.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-LOGO_pharma_WHITE {
	font-size:(32/10)*1rem;
	width:(170/32)*1em;
}
.icon-__Pharma_icon_alert {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-__Pharma_icon_check_tick {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-__Pharma_icon_radio_tick {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-__logo_PHARMA {
	font-size:(30/10)*1rem;
	width:(238/30)*1em;
}
.icon-arrow {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-banner_APPSTORE {
	font-size:(30/10)*1rem;
	width:(89.5/30)*1em;
}
.icon-banner_APPSTORE1 {
	font-size:(58/10)*1rem;
	width:(172/58)*1em;
}
.icon-banner_GOOGLEPLAY {
	font-size:(30/10)*1rem;
	width:(90/30)*1em;
}
.icon-cart {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-chevron-right {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-chevron_down {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-close {
	font-size:(17.95/10)*1rem;
	width:(17.94/17.95)*1em;
}
.icon-fb {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-heart {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-inst {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-like {
	font-size:(30/10)*1rem;
	width:(32/30)*1em;
}
.icon-line {
	font-size:(28/10)*1rem;
	width:(124/28)*1em;
}
.icon-logo {
	font-size:(13.43/10)*1rem;
	width:(206.41/13.43)*1em;
}
.icon-nav-1 {
	font-size:(56/10)*1rem;
	width:(56/56)*1em;
}
.icon-nav-10 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-11 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-2 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-3 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-4 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-5 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-6 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-7 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-8 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-nav-9 {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-profile {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-search {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-star {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-star-active {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-twitter {
	font-size:(24/10)*1rem;
	width:(30/24)*1em;
}
.icon-vk {
	font-size:(72/10)*1rem;
	width:(120/72)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
