@media only screen and (min-width: 576px) {
  .header-block__col {
    max-width: 561px;
    width: 100%; }
  .top_line p {
    max-width: none; } }

@media only screen and (min-width: 1200px) {
  .header-block__item {
    margin-top: 30px; } }

.header-block {
  background-position: top left;
  background-size: cover; }

.header-block__block {
  background-color: rgba(175, 139, 98, 0.65);
  max-width: 380px; }

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 480px; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }

.swiper-pagination-bullet-active {
  background-color: #ce1111; }

.img_container,
.video_container {
  display: inline-block;
  max-width: 100%; }

.blk_container .cell.container_cell[data-id=b-75aafff3556f441b9bbe0e2949af3166] {
  width: 20%; }

.blk_container_cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.l_float.cell.container_cell.sortable_cell.text-block {
  width: 80%; }

.sprice {
  position: relative;
  z-index: 4; }
