.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-left {
	font-size:(21/10)*1rem;
	width:(11/21)*1em;
}
.icon-arr-right {
	font-size:(35/10)*1rem;
	width:(19/35)*1em;
}
.icon-back {
	font-size:(15/10)*1rem;
	width:(32/15)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-email {
	font-size:(16/10)*1rem;
	width:(30/16)*1em;
}
.icon-face {
	font-size:(54/10)*1rem;
	width:(48/54)*1em;
}
.icon-po-1 {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-po-2 {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-po-3 {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-po-4 {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-search {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-submit {
	font-size:(15/10)*1rem;
	width:(21/15)*1em;
}
.icon-tel {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-user {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
