
.icon-soc-2:before { content: '\e800'; } /* '' */
.icon-soc-1:before { content: '\e801'; } /* '' */
.icon-arr-r:before { content: '\e802'; } /* '' */
.icon-arr-l:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */