.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-left {
	font-size:(54/10)*1rem;
	width:(28/54)*1em;
}
.icon-check {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
.icon-clock {
	font-size:(41/10)*1rem;
	width:(41/41)*1em;
}
.icon-clock2 {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-close {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-event {
	font-size:(47/10)*1rem;
	width:(47/47)*1em;
}
.icon-facebook {
	font-size:(24/10)*1rem;
	width:(23/24)*1em;
}
.icon-infrastructure-i-1 {
	font-size:(47/10)*1rem;
	width:(44/47)*1em;
}
.icon-infrastructure-i-2 {
	font-size:(55/10)*1rem;
	width:(75/55)*1em;
}
.icon-infrastructure-i-3 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-infrastructure-i-4 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(23/24)*1em;
}
.icon-mail {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.icon-mark {
	font-size:(29/10)*1rem;
	width:(20/29)*1em;
}
.icon-placeholder {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icon-sm-left {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-sm-right {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-square {
	font-size:(494.64/10)*1rem;
	width:(494.65/494.64)*1em;
}
.icon-tel {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-user {
	font-size:(18/10)*1rem;
	width:(16/18)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(23/24)*1em;
}
.icon-youtube {
	font-size:(24/10)*1rem;
	width:(23/24)*1em;
}
