@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('AvenirNextCyr-Demi.eot');
  src: url('AvenirNextCyr-Demi.woff') format('woff'),
       url('AvenirNextCyr-Demi.ttf') format('truetype'),
       url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

