.bg-header-bg {
  background-color: #d7252c !important;
}

a.bg-header-bg:hover,a.bg-header-bg:focus,button.bg-header-bg:hover,button.bg-header-bg:focus {
  background-color: #ab1e23 !important;
}

.bg-secondary {
  background-color: #f4f4f8 !important;
}

a.bg-secondary:hover,a.bg-secondary:focus,button.bg-secondary:hover,button.bg-secondary:focus {
  background-color: #d5d5e4 !important;
}

.bg-primary {
  background-color: #fa3f3e !important;
}

a.bg-primary:hover,a.bg-primary:focus,button.bg-primary:hover,button.bg-primary:focus {
  background-color: #f90e0c !important;
}

.bg-white {
  background-color: #fff !important;
}

a.bg-white:hover,a.bg-white:focus,button.bg-white:hover,button.bg-white:focus {
  background-color: #e6e6e6 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-header-bg {
  border-color: #d7252c !important;
}

.border-secondary {
  border-color: #f4f4f8 !important;
}

.border-primary {
  border-color: #fa3f3e !important;
}

.border-white {
  border-color: #fff !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  -webkit-border-radius: 0.25rem !important;
          border-radius: 0.25rem !important;
}

.rounded-top {
  -webkit-border-top-left-radius: 0.25rem !important;
          border-top-left-radius: 0.25rem !important;
  -webkit-border-top-right-radius: 0.25rem !important;
          border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  -webkit-border-top-right-radius: 0.25rem !important;
          border-top-right-radius: 0.25rem !important;
  -webkit-border-bottom-right-radius: 0.25rem !important;
          border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  -webkit-border-bottom-right-radius: 0.25rem !important;
          border-bottom-right-radius: 0.25rem !important;
  -webkit-border-bottom-left-radius: 0.25rem !important;
          border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  -webkit-border-top-left-radius: 0.25rem !important;
          border-top-left-radius: 0.25rem !important;
  -webkit-border-bottom-left-radius: 0.25rem !important;
          border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
}

.rounded-0 {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}

a {
  color: #fa3f3e;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #e60706;
  text-decoration: underline;
}

.btn-header-bg {
  color: #fff;
  background-color: #d7252c;
  border-color: #d7252c;
}

.btn-header-bg:hover {
  color: #fff;
  background-color: #b61f25;
  border-color: #ab1e23;
}

.btn-header-bg:focus,.btn-header-bg.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
}

.btn-header-bg.disabled,.btn-header-bg:disabled {
  color: #fff;
  background-color: #d7252c;
  border-color: #d7252c;
}

.btn-header-bg:not(:disabled):not(.disabled):active,.btn-header-bg:not(:disabled):not(.disabled).active,.show > .btn-header-bg.dropdown-toggle {
  color: #fff;
  background-color: #ab1e23;
  border-color: #a11c21;
}

.btn-header-bg:not(:disabled):not(.disabled):active:focus,.btn-header-bg:not(:disabled):not(.disabled).active:focus,.show > .btn-header-bg.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
}

.btn-secondary {
  color: #212529;
  background-color: #f4f4f8;
  border-color: #f4f4f8;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #dddde9;
  border-color: #d5d5e4;
}

.btn-secondary:focus,.btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
}

.btn-secondary.disabled,.btn-secondary:disabled {
  color: #212529;
  background-color: #f4f4f8;
  border-color: #f4f4f8;
}

.btn-secondary:not(:disabled):not(.disabled):active,.btn-secondary:not(:disabled):not(.disabled).active,.show > .btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #d5d5e4;
  border-color: #cdcddf;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus,.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
}

.btn-primary,.top-line__btn-basket {
  color: #fff;
  background-color: #fa3f3e;
  border-color: #fa3f3e;
}

.btn-primary:hover,.top-line__btn-basket:hover {
  color: #fff;
  background-color: #f91a19;
  border-color: #f90e0c;
}

.btn-primary:focus,.top-line__btn-basket:focus,.btn-primary.focus,.focus.top-line__btn-basket {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
}

.btn-primary.disabled,.disabled.top-line__btn-basket,.btn-primary:disabled,.top-line__btn-basket:disabled {
  color: #fff;
  background-color: #fa3f3e;
  border-color: #fa3f3e;
}

.btn-primary:not(:disabled):not(.disabled):active,.top-line__btn-basket:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.top-line__btn-basket:not(:disabled):not(.disabled).active,.show > .btn-primary.dropdown-toggle,.show > .dropdown-toggle.top-line__btn-basket {
  color: #fff;
  background-color: #f90e0c;
  border-color: #f20806;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,.top-line__btn-basket:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.top-line__btn-basket:not(:disabled):not(.disabled).active:focus,.show > .btn-primary.dropdown-toggle:focus,.show > .dropdown-toggle.top-line__btn-basket:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
}

.btn-white {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-white:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e6e6;
}

.btn-white:focus,.btn-white.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-white.disabled,.btn-white:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-white:not(:disabled):not(.disabled):active,.btn-white:not(:disabled):not(.disabled).active,.show > .btn-white.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-white:not(:disabled):not(.disabled):active:focus,.btn-white:not(:disabled):not(.disabled).active:focus,.show > .btn-white.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-header-bg {
  color: #d7252c;
  background-color: transparent;
  background-image: none;
  border-color: #d7252c;
}

.btn-outline-header-bg:hover {
  color: #fff;
  background-color: #d7252c;
  border-color: #d7252c;
}

.btn-outline-header-bg:focus,.btn-outline-header-bg.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
}

.btn-outline-header-bg.disabled,.btn-outline-header-bg:disabled {
  color: #d7252c;
  background-color: transparent;
}

.btn-outline-header-bg:not(:disabled):not(.disabled):active,.btn-outline-header-bg:not(:disabled):not(.disabled).active,.show > .btn-outline-header-bg.dropdown-toggle {
  color: #fff;
  background-color: #d7252c;
  border-color: #d7252c;
}

.btn-outline-header-bg:not(:disabled):not(.disabled):active:focus,.btn-outline-header-bg:not(:disabled):not(.disabled).active:focus,.show > .btn-outline-header-bg.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(215, 37, 44, 0.5);
}

.btn-outline-secondary {
  color: #f4f4f8;
  background-color: transparent;
  background-image: none;
  border-color: #f4f4f8;
}

.btn-outline-secondary:hover {
  color: #212529;
  background-color: #f4f4f8;
  border-color: #f4f4f8;
}

.btn-outline-secondary:focus,.btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
}

.btn-outline-secondary.disabled,.btn-outline-secondary:disabled {
  color: #f4f4f8;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,.btn-outline-secondary:not(:disabled):not(.disabled).active,.show > .btn-outline-secondary.dropdown-toggle {
  color: #212529;
  background-color: #f4f4f8;
  border-color: #f4f4f8;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(244, 244, 248, 0.5);
}

.btn-outline-primary {
  color: #fa3f3e;
  background-color: transparent;
  background-image: none;
  border-color: #fa3f3e;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #fa3f3e;
  border-color: #fa3f3e;
}

.btn-outline-primary:focus,.btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
  color: #fa3f3e;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #fa3f3e;
  border-color: #fa3f3e;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 63, 62, 0.5);
}

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

.btn-outline-white:hover {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-white:focus,.btn-outline-white.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-white.disabled,.btn-outline-white:disabled {
  color: #fff;
  background-color: transparent;
}

.btn-outline-white:not(:disabled):not(.disabled):active,.btn-outline-white:not(:disabled):not(.disabled).active,.show > .btn-outline-white.dropdown-toggle {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-white:not(:disabled):not(.disabled):active:focus,.btn-outline-white:not(:disabled):not(.disabled).active:focus,.show > .btn-outline-white.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.mono {
  font-family: monospace;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: #fff;
}

.header {
  background-color: #d7252c;
}

.top-nav__link {
  color: #ffffff !important;
}

.top-nav__link .icon {
  stroke: #FFF;
}

.top-line {
  color: #ffffff;
}

.top-line__link {
  color: #ffffff !important;
}

.top-line__link .icon {
  stroke: #FFF;
}

.toggle-mnu {
  background-color: #ffdc7d;
}

.trop .img-svg {
  width: 123px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trop .img-svg path {
  fill: #D7252C !important;
}/*==========  Mobile First  ==========*//*==========  Desktop First  ==========*//* Large Devices, Wide Screens *//* Medium Devices, Desktops *//* Small Devices, Tablets *//* Extra Small Devices, Phones *//* Custom, iPhone Retina */@font-face {
  font-family:Tahoma;font-style:normal;font-weight:normal;src:url("../fonts/Tahoma/Tahoma.woff2") format("woff2"), url("../fonts/Tahoma/Tahoma.woff") format("woff"), url("../fonts/Tahoma/Tahoma.ttf") format("truetype");
}

@font-face {
  font-family:Tahoma;font-style:normal;font-weight:bold;src:url("../fonts/Tahoma-Bold/Tahoma-Bold.woff2") format("woff2"), url("../fonts/Tahoma-Bold/Tahoma-Bold.woff") format("woff"), url("../fonts/Tahoma-Bold/Tahoma-Bold.ttf") format("truetype");
}

@media (max-width: 991.98px) {
  .animated {
 /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
 /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
 /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

@media only screen and (max-width: 320px) {
/**/;
}
