.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-apple {
	font-size:(500/10)*1rem;
	width:(367.68/500)*1em;
}
.icon-check {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-close {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-doc {
	font-size:(426.4/10)*1rem;
	width:(320.2/426.4)*1em;
}
.icon-facebook-f {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-google-play {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-home {
	font-size:(423.36/10)*1rem;
	width:(453/423.36)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-mobile {
	font-size:(500/10)*1rem;
	width:(311.52/500)*1em;
}
.icon-pen {
	font-size:(256/10)*1rem;
	width:(256/256)*1em;
}
.icon-phone-call {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-times {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
