.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-down {
	font-size:(6/10)*1rem;
	width:(11/6)*1em;
}
.icon-map {
	font-size:(26/10)*1rem;
	width:(20/26)*1em;
}
.icon-pensil {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-tel {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
