.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-about-i-1 {
	font-size:(493.45/10)*1rem;
	width:(500/493.45)*1em;
}
.icon-about-i-2 {
	font-size:(496.7/10)*1rem;
	width:(455.44/496.7)*1em;
}
.icon-about-i-3 {
	font-size:(393.62/10)*1rem;
	width:(500/393.62)*1em;
}
.icon-about-i-4 {
	font-size:(335.75/10)*1rem;
	width:(292.21/335.75)*1em;
}
.icon-about-i-5 {
	font-size:(59.99/10)*1rem;
	width:(59.98/59.99)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-installation-1 {
	font-size:(499.94/10)*1rem;
	width:(500/499.94)*1em;
}
.icon-installation-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-installation-3 {
	font-size:(332.03/10)*1rem;
	width:(500/332.03)*1em;
}
.icon-installation-4 {
	font-size:(500/10)*1rem;
	width:(395.55/500)*1em;
}
.icon-map {
	font-size:(500/10)*1rem;
	width:(416.44/500)*1em;
}
.icon-play {
	font-size:(191.25/10)*1rem;
	width:(166.8/191.25)*1em;
}
.icon-warning-1 {
	font-size:(425.25/10)*1rem;
	width:(500/425.25)*1em;
}
.icon-warning-2 {
	font-size:(459.03/10)*1rem;
	width:(452.04/459.03)*1em;
}
.icon-warning-3 {
	font-size:(484.53/10)*1rem;
	width:(484.53/484.53)*1em;
}
.icon-warning-4 {
	font-size:(349.34/10)*1rem;
	width:(446.37/349.34)*1em;
}
.icon-warning-5 {
	font-size:(348.1/10)*1rem;
	width:(363.19/348.1)*1em;
}
.icon-warning-6 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-zoom {
	font-size:(485.21/10)*1rem;
	width:(485.21/485.21)*1em;
}
